.container {
    padding: 40px 1px;
    max-width: 1170px;
}

.thead {
    background-color: #40cce2;
    color: #FFF;
}

.link {
    text-decoration: underline!important;
    cursor: pointer;
 }

 .bg-info {
     background-color: #eee!important;
     margin-bottom: 4%;
     padding-top: 1%;
     padding-bottom: 1%;
     padding-right: 1%;
 }
/* 
 .btn {
     background-color: #959fa9!important;
 } */