<div class="wrapper flex-center">
	<div class="card-wrapper">
		<mat-card class="example-card">
			<mat-card-header>
				<mat-card-title class="logo-color title"> 
					<b>Reset Password </b>
				</mat-card-title>
			</mat-card-header>
			<mat-dialog-content [formGroup]="resetPwd" #resetPwdForm="ngForm">
				<div class="input-row">
					<!-- <div class="icon-wrap">
						<img src="../../assets/icons/Email.svg" alt="">
					</div> -->
					<div>
						<mat-form-field>
							<input matInput
								placeholder="OTP"
								formControlName="otp"
								required>
							<mat-error *ngIf="hasError('otp', 'required')">OTP is required!</mat-error>
						</mat-form-field>
					</div>
				</div>  
				<div class="input-row">
					<!-- <div class="icon-wrap">
						<img src="../../assets/icons/Email.svg" alt="">
					</div> -->
					<div>
						<mat-form-field>
							<input matInput
								placeholder="Password"
								formControlName="password"
								required>
							<mat-error *ngIf="hasError('password', 'required')">Password is required!</mat-error>
						</mat-form-field>
					</div>
				</div>
				<div class="input-row">
					<!-- <div class="icon-wrap">
						<img src="../../assets/icons/pwd.svg" alt="">
					</div> -->
					<div>
						<mat-form-field>
							<input matInput
								placeholder="Confirm Password"
								formControlName="confirmPassword"
								required
								type="password">
							<mat-error *ngIf="hasError('confirmPassword', 'required')">Confirm Password is required!</mat-error>
						</mat-form-field>
					</div>
				</div>
			</mat-dialog-content>
		</mat-card>
	</div>
</div>