.wrapper {
    background-image: url(../../assets/images/555.jpg);
    background-size: cover;
    background-repeat: repeat;
	width: 100%;
	min-height: 100%;
    height: auto;
	min-width: 100%;
    position: relative;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.example-card {
    padding: 15px 20px;
    width: 310px;
    height: 400px;
}

.title {
    font-weight: 400;
    font-size: 42px;
}

.mat-form-field {
    width: 260px;
    height: 55px;
    font-size: 14px;
}

.action-btns {
    margin: 4px 0;
    margin-bottom: 6%;
}

.add-btn {
    border-radius: 10px;
}