/* .header-bar {
    background-color: #17a2b8;
    color: #fff;
}

.app-heading {
    cursor: pointer;
}

.spacer {
    flex: 1 1 auto;
} */

.header-bar {
    color: #fff;
    height: 50px;
}

.head-wrapper {

}

.spacer {
    flex: 1 1 auto;
}

.snap_logo {
    width: 35px;
    height: 35px;
    margin-right: 12px;
}