<!-- <header class="app-header">
	<nav class="navbar fixed-top navbar-expand-lg bg-dark navbar-dark navbar-custom">
		<a class="navbar-brand txt-clr-white"><strong>Snapper Certificate</strong></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse txt-clr-white" id="navbarContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link">Home <span class="sr-only">(current)</span></a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right" hidden>
				<li class="nav-item">
					<button class="btn btn-success btn-md">Login</button>
				</li>
			</ul>
		</div>
	</nav>
</header> -->

<mat-toolbar class="header-bar">
	<mat-toolbar-row>
		<!--  <span>HOME</span> -->
		<span class="main-heading"><a (click)="toggleSidebar()">Snapper Certificate</a></span>
		<span class="spacer"></span>
		<!-- <div class="float-right">
			<a mat-button routerLink="/login">Login</a>
			<a mat-button routerLink="/instituteRegistration">Institute Registration</a>
		</div> -->
	</mat-toolbar-row>
</mat-toolbar>

<!-- <app-sidebar *ngIf="sidebar"></app-sidebar> -->