.navbar {
    justify-content: flex-start !important;
}

.navbar-custom {
    background-color: #64cef7;

}
.app-header {
    margin-bottom: 60px !important;
}

.header-bar {
    background-color: #17a2b8;
    color: #fff;
}

a:hover {
    color: #fff !important;
}

.spacer {
    flex: 1 1 auto;
}