<div class="container">
	<div class="panel panel-primary headeing">
		<div class="panel panel-heading">
			<h3 class="panel-title">Add Institute Department</h3>
		</div>
	</div>
	<div class="addInst-wrapper">
		<div class="example-container" linear>
			<form [formGroup]="insDeptForm" #deptForm="ngForm" (ngSubmit)="addDept(deptForm)">
				<div>
					<div id="deptDiv">
						<span id="deptSpan">
							Department details
						</span>
					</div>
					<mat-form-field class="input-field">
						<input matInput 
						placeholder="Institute ID" 
						formControlName="instituteID"
						required>
					</mat-form-field>
					<mat-form-field class="input-field">
						<input matInput 
						placeholder="Department ID" 
						formControlName="department_ID"
						required>
					</mat-form-field>
					<mat-form-field class="input-field">
						<input matInput 
						placeholder="Department" 
						formControlName="department_Name"
						required>
					</mat-form-field>
				</div>
				<div class="action-btns text-center">
					<button mat-raised-button class="action-btn">Save</button>
					<button mat-raised-button class="action-btn" (click)="goBack()">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>