<div class="container">
	<div class="panel panel-primary headeing">
		<div class="panel panel-heading">
			<h3 class="panel-title">Add Institute Department</h3>
		</div>
	</div>
	<div class="addInst-wrapper">
		<div class="example-container" linear>
			<form [formGroup]="insDeptForm" #deptForm="ngForm" (ngSubmit)="addDept(deptForm)">
				<div>
					<div style="width: 100%; height: 20px; border-bottom: 1px solid #6c757d; text-align: center; margin-bottom: 3%;">
						<span style="font-size: 21px; background-color: #F3F5F6; color: #989898; font-weight: 500; padding: 0 50px;">
							Department details
						</span>
					</div>
					<mat-form-field class="input-field">
						<input matInput 
						placeholder="Institute ID" 
						formControlName="Institution_ID"
						required>
					</mat-form-field>
					<mat-form-field class="input-field">
						<input matInput 
						placeholder="Department ID" 
						formControlName="department_ID"
						required>
					</mat-form-field>
					<mat-form-field class="input-field">
						<input matInput 
						placeholder="Department" 
						formControlName="department_Name"
						required>
					</mat-form-field>
				</div>
				<div class="action-btns text-center">
					<button mat-raised-button class="action-btn">Save</button>
					<button mat-raised-button class="action-btn">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>