<div class="container">
	<div class="wrapper">
		<div class="section">
			<div class="heading">
				<span class="head-span">
					Student Details
				</span>
			</div>
			<div class="sec-body">
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Batch ID </span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{student.batchID}} </span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Student ID</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{student.studentID}} </span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Name</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{student.name}} </span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Father's Name</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{student.fatherName}} </span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>DOB</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{student.dob}} </span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Aadhaar ID</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{student.aadhaarNoLoginID}} </span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Email ID</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{student.emailID}} </span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Mobile No.</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{student.mobile}} </span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Specialization</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{student.specialization}} </span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Status</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{student.transactionStatus}} </span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Date</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{student.transactionDate}} </span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Time</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{student.transactionTime}} </span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>User</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{student.transactionUser}} </span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Comments</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{student.batchID}} </span>
					</div>
				</div>
			</div>
		</div>
		<div class="action-btns text-center" *ngIf="userType == 'AFF_INS_DATA_MANAGER'">
			<button mat-raised-button class="action-btn" (click)="reviewed()">Hold</button>
			<button mat-raised-button class="action-btn" (click)="reviewed()">Reassess</button>
			<button mat-raised-button class="action-btn" (click)="goBack()">Cancel</button>
		</div>
		<div class="action-btns text-center" *ngIf="userType == 'AFF_INST_REVIEWER'">
			<button mat-raised-button class="action-btn" (click)="reviewed()">Reviewed</button>
			<button mat-raised-button class="action-btn">Reject</button>
		</div>
		<div class="action-btns text-center" *ngIf="userType == 'DATA_APPROVER'">
			<button mat-raised-button class="action-btn" (click)="reviewed()">Approved</button>
			<button mat-raised-button class="action-btn">Reject</button>
		</div>
	</div>
</div>