<div class="container">
    <table #dataTable class="display" style="width: 100%">
        <thead class="thead">
          <tr>
            <th>Email ID</th>
            <th>Date</th>
            <th>Time</th>
            <th>IP Address</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>neha.mutke@snapperfuturetech.com</td>
            <td>10/12/2018</td>
            <td>04:00 PM</td>
            <td>192.168.1.111</td>
          </tr>
          <tr>
              <td>shihas.kunju@snapperfuturetech.com</td>
              <td>10/12/2018</td>
              <td>04:00 PM</td>
              <td>192.168.1.112</td>
            </tr>
            <tr>
              <td>sanket.raiturkar@snapperfuturetech.com</td>
              <td>10/12/2018</td>
              <td>04:00 PM</td>
              <td>192.168.1.113</td>
            </tr>
            <tr>
              <td>nishad.tattu@snapperfuturetech.com</td>
              <td>10/12/2018</td>
              <td>04:00 PM</td>
              <td>192.168.1.114</td>
            </tr>
            <tr>
              <td>sushmita@snapperfuturetech.com</td>
              <td>10/12/2018</td>
              <td>04:00 PM</td>
              <td>192.168.1.115</td>
            </tr>
            <tr>
              <td>heena.shaikh@snapperfuturetech.com</td>
              <td>10/12/2018</td>
              <td>04:00 PM</td>
              <td>192.168.1.116</td>
            </tr>
            <tr>
              <td>neha.mutke@snapperfuturetech.com</td>
              <td>10/12/2018</td>
              <td>04:00 PM</td>
              <td>192.168.1.111</td>
            </tr>
            <tr>
              <td>neha.mutke@snapperfuturetech.com</td>
              <td>10/12/2018</td>
              <td>04:00 PM</td>
              <td>192.168.1.111</td>
            </tr>
            <tr>
              <td>neha.mutke@snapperfuturetech.com</td>
              <td>10/12/2018</td>
              <td>04:00 PM</td>
              <td>192.168.1.111</td>
            </tr>
            <tr>
              <td>neha.mutke@snapperfuturetech.com</td>
              <td>10/12/2018</td>
              <td>04:00 PM</td>
              <td>192.168.1.111</td>
            </tr>
        </tbody>
      </table>
</div>