<div class="container">
	<div class="panel panel-primary heading-wrapper">
		<div class="panel panel-heading">
			<span class="panel-title" id="heading"> Add User </span>
		</div>
	</div>
	<div class="form-wrapper">
		<div class="example-container" linear>
			<form [formGroup]="authUserForm" #userForm="ngForm" (ngSubmit)="addUser(userForm)">
				<div>
					<div id="userDiv">
						<span id="userSpan">
							User Details
						</span>
					</div>
					<div fxLayout="row wrap" 
						fxLayoutGap="23px" 
						fxLayout.lt-md="column" 
						fxFlexAlign="center">
						<mat-form-field fxFlex.gt-md="31%" fxFlex.lt-md="100%" fxFlex.md="40%">
							<input matInput 
							placeholder="First Name" 
							formControlName="firstName"
							required>
						</mat-form-field>
						<mat-form-field fxFlex.gt-md="31%" fxFlex.lt-md="100%" fxFlex.md="40%">
							<input matInput 
							placeholder="Last Name" 
							formControlName="lastName"
							required>
						</mat-form-field>
						<mat-form-field #id fxFlex.gt-md="31%" fxFlex.lt-md="100%" fxFlex.md="40%">
							<mat-select #type formControlName="userRole" 
							placeholder="User Role" 
							(ngModelChange)="roleChange($event)"
							required>
								<mat-option 
									value="super_admin"
									*ngIf='role === "super_admin"'>
									System Admin
								</mat-option>
								<mat-option 
									value="agent"
									*ngIf='role === "agent"'>
									Kyc Agent
								</mat-option>
								<mat-option 
									value="admin"
									*ngIf="(role == 'admin' && entity == 'institute')">
									Institute Admin
								</mat-option>
								<mat-option 
									value="manager"
									*ngIf="(role == 'admin' && entity == 'institute')
									|| (role == 'manager' && entity == 'institute')
									|| (role == 'manager' && entity == 'affiliate')">
									Manager
								</mat-option>
								<mat-option 
									value="reviewer"
									*ngIf="(role == 'manager' && entity == 'institute')
									|| (role == 'manager' && entity == 'affiliate')">
									Reviewer
								</mat-option>
								<mat-option 
									value="certifier"
									*ngIf="(role == 'manager' && entity == 'institute')">
									Certifier
								</mat-option>
								<mat-option 
									value="approver"
									*ngIf="(role == 'manager' && entity == 'affiliate')">
									Approver
								</mat-option>
							</mat-select>
						</mat-form-field>
						<mat-form-field fxFlex.gt-md="31%" fxFlex.lt-md="100%" fxFlex.md="40%">
							<mat-select #type formControlName="instituteType" 
							placeholder="Institute Type" 
							required>
								<mat-option value="institute">Institute
								</mat-option>
								<mat-option *ngIf="!(role == 'admin' && entity == 'institute') && !(admin)"
								 value="affiliate">Affiliate Institute
								</mat-option>
							</mat-select>
						</mat-form-field>
						<mat-form-field fxFlex.gt-md="31%" fxFlex.lt-md="100%" fxFlex.md="40%" *ngIf="!admin">
							<mat-select placeholder="Department" 
							formControlName="departmentId"
							required>
								<mat-option *ngFor="let department of departments;" [value]='department._id'>{{department.name}}</mat-option>
							</mat-select>
						</mat-form-field>
						<mat-form-field fxFlex.gt-md="31%" fxFlex.lt-md="100%" fxFlex.md="40%">
							<input matInput 
							placeholder="Email ID" 
							formControlName="emailId"
							required>
						</mat-form-field>
						<mat-form-field fxFlex.gt-md="31%" fxFlex.lt-md="100%" fxFlex.md="40%">
							<input matInput 
							placeholder="Phone No." 
							formControlName="phone"
							required>
						</mat-form-field>
					</div>
				</div>
				<div class="action-btns text-center">
					<button mat-raised-button class="action-btn">Add</button>
					<button mat-raised-button class="action-btn" (click)="goBack()">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>