<div class="container">
	<div class="affIns-container mat-elevation-z8">
		<div class="outer-div">
			<div class="inner-div aff-btn">
				<a mat-button class="add-btn" routerLink="/departmentAdd">Add Institute Department</a>
			</div>
		</div>
		<div class="table-wrapper">
			<mat-table [dataSource]="dataSource" class="mat-elevation-z8">				
				<ng-container matColumnDef="instituteId">
					<mat-header-cell *matHeaderCellDef> 
						<div>Institute ID </div>
						<div>
							<mat-form-field>
								<mat-icon class="search icons">search</mat-icon><input matInput class="form-field filters" [formControl]="instituteIdFilter">
							</mat-form-field>
						</div>
					</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.Institution_ID}} </mat-cell>
				</ng-container>
				
				<ng-container matColumnDef="deptId">
					<mat-header-cell *matHeaderCellDef>  
						<div>Department ID </div>
						<div>
							<mat-form-field>
								<mat-icon class="search icons">search</mat-icon><input matInput class="form-field filters" [formControl]="departmentIdFilter">
							</mat-form-field>
						</div>
					</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.department_ID}} </mat-cell>
				</ng-container>

				<ng-container matColumnDef="deptName">
					<mat-header-cell *matHeaderCellDef>
						<div>Department Name </div>
						<div>
							<mat-form-field>
								<mat-icon class="search icons">search</mat-icon><input matInput class="form-field filters" [formControl]="departmentNameFilter">
							</mat-form-field>
						</div>
					</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.department_Name}} </mat-cell>
				</ng-container>

				<ng-container matColumnDef="status">
					<mat-header-cell *matHeaderCellDef>
						<div>Department Status </div>
						<div>
							<mat-form-field>
								<mat-icon class="search icons">search</mat-icon><input matInput class="form-field filters" [formControl]="departmentStatusFilter">
							</mat-form-field>
						</div>
					</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
					<!-- <mat-cell *matCellDef="let element"> 
						<mat-form-field floatLabel="never">
							<input matInput placeholder="Status" [value]="element.status" [(ngModel)]="element.status">
						</mat-form-field>	
					</mat-cell> -->
				</ng-container>

				<ng-container matColumnDef="_id">
					<mat-header-cell class="actions" *matHeaderCellDef> Actions </mat-header-cell>
					<mat-cell *matCellDef="let row">
						<button mat-button class="active-btn" (click)="activate(row)">{{row.activated}}</button>
						<!-- <mat-icon class="update icons" (click)="editDepartment(row)">edit</mat-icon> -->
					</mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row class="mat-row" *matRowDef="let row; columns: displayedColumns;"></mat-row>
			</mat-table>
		</div> 
		<div>
			<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
		</div>  
	</div>
</div>