<div class="container">
	<div class="affIns-container mat-elevation-z8">
		<div class="outer-div">
			<div class="inner-div">
				<mat-form-field class="">
					<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
				</mat-form-field>
			</div>
			<span class="spacer"></span>
			<div class="inner-div aff-btn">
				<a mat-button class="add-btn" routerLink="/departmentAdd">Add Institute Department</a>
			</div>
		</div>
		<div>
			<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
				<!-- <ng-container matColumnDef="position">
					<mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
				</ng-container> -->
				
				<ng-container matColumnDef="instituteId">
					<mat-header-cell *matHeaderCellDef> 
						<div>Institute ID </div>
						<div>
							<mat-form-field>
								<input matInput class="form-field" [formControl]="instituteIdFilter" placeholder="Institute ID">
							</mat-form-field>
						</div>
					</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.Institution_ID}} </mat-cell>
				</ng-container>
				
				<ng-container matColumnDef="deptId">
					<mat-header-cell *matHeaderCellDef>  
						<div>Department ID </div>
						<div>
							<mat-form-field>
								<input matInput class="form-field" [formControl]="departmentIdFilter" placeholder="Department ID">
							</mat-form-field>
						</div>
					</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.department_ID}} </mat-cell>
				</ng-container>

				<ng-container matColumnDef="deptName">
					<mat-header-cell *matHeaderCellDef>
						<div>Department Name </div>
						<div>
							<mat-form-field>
								<input matInput class="form-field" [formControl]="departmentNameFilter" placeholder="Department Name">
							</mat-form-field>
						</div>
					</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.department_Name}} </mat-cell>
				</ng-container>

				<ng-container matColumnDef="status">
					<mat-header-cell *matHeaderCellDef>
						<div>Department Status </div>
						<div>
							<mat-form-field>
								<input matInput class="form-field" [formControl]="departmentStatusFilter" placeholder="Department Status">
							</mat-form-field>
						</div>
					</mat-header-cell>
					<mat-cell *matCellDef="let element"> 
						<mat-form-field floatLabel="never">
							<input matInput placeholder="Status" [value]="element.status" [(ngModel)]="element.status">
						</mat-form-field>	
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="_id">
					<mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
					<mat-cell *matCellDef="let row"> 
						<mat-icon class="update icons" (click)="editDepartment(row)">edit</mat-icon>
					</mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
			</mat-table>
		</div> 
		<div>
			<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
		</div>  
	</div>
</div>