<div class="container">
	<div class="wrapper">
		<div class="outer-div">
			<div class="inner-div header-btns">
				<div class="mat-header-btns">
					<a mat-button class="add-btn" routerLink="/departmentAdd">Add Institute Department</a>
				</div>
			</div>
		</div>
		<div class="list-container">
			<mat-table [dataSource]="dataSource" 
			class="mat-table-item mat-elevation-z8">
				<ng-container matColumnDef="instituteId">
					<mat-header-cell *matHeaderCellDef> 
						<div>Institute ID </div>
						<div class="search-field">
							<mat-form-field>
								<mat-icon class="search icons">search</mat-icon>
								<input matInput class="form-field filters" [formControl]="instituteIdFilter">
							</mat-form-field>
						</div>
					</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.Institution_ID}} </mat-cell>
				</ng-container>
				<ng-container matColumnDef="deptId">
					<mat-header-cell *matHeaderCellDef> 
						<div>Department ID</div>
						<div class="search-field">
							<mat-form-field>
								<mat-icon class="search icons">search</mat-icon>
								<input matInput class="form-field filters" [formControl]="departmentIdFilter">
							</mat-form-field>
						</div>
					</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.department_ID}} </mat-cell>
				</ng-container>
				<ng-container matColumnDef="deptName">
					<mat-header-cell *matHeaderCellDef>
						<div>Department Name</div>
						<div class="search-field">
							<mat-form-field>
								<mat-icon class="search icons">search</mat-icon>
								<input matInput class="form-field filters" [formControl]="departmentNameFilter">
							</mat-form-field>
						</div>
					</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.department_Name}} </mat-cell>
				</ng-container>
				<ng-container matColumnDef="status">
					<mat-header-cell *matHeaderCellDef>
						<div>Department Status</div>
						<div class="search-field">
							<mat-form-field>
								<mat-icon class="search icons">search</mat-icon>
								<input matInput class="form-field filters" [formControl]="departmentStatusFilter">
							</mat-form-field>
						</div>
					</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
				</ng-container>
				<ng-container matColumnDef="actions">
					<mat-header-cell *matHeaderCellDef> 
							<div>Actions </div>
					</mat-header-cell>
					<mat-cell *matCellDef="let row">
						<button mat-button class="active-btn" (click)="activate(row)">{{row.activated}}</button>
					</mat-cell>
				</ng-container>
				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
			</mat-table>
		</div>
		<div>
			<mat-paginator [pageSizeOptions]="[5,10]" showFirstLastButtons></mat-paginator>
		</div>
	</div>
</div>         