<div class="container">
	<div class="wrapper">
		<div class="section" 
		[fxLayout]="direction" 
		fxLayout-lt.md="column" 
		fxLayout-gt.md="row">
			<div class="heading" fxHide="true" fxShow.gt-md>
				<span class="head-span">
					Institute Details
				</span>
			</div>
			<div class="sm-heading" fxHide="true" fxShow.lt-md fxShow.md>
				<span class="head-span2">
					Institute Details
				</span>
			</div>
			<div class="sec-body">
				<div class="sub-detail" fxFlex.xs="100">
					<div class="sec-sub-heading"><span>Institute Type </span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{certificate.institute.type}} </span>
					</div>
				</div>
				<div class="sub-detail" fxFlex.xs="100">
					<div class="sec-sub-heading"><span>Institute ID</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{certificate.institute.code}} </span>
					</div>
				</div>
				<div class="sub-detail" fxFlex.xs="100">
					<div class="sec-sub-heading"><span>Institute Name</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{certificate.institute.name}} </span>
					</div>
				</div>
				<div class="sub-detail" fxFlex.xs="100">
					<div class="sec-sub-heading"><span>Location</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{certificate.institute.location}} </span>
					</div>
				</div>
				<div class="sub-detail" fxFlex.xs="100">
					<div class="sec-sub-heading"><span>Website</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{certificate.institute.website}} </span>
					</div>
				</div>
				<div class="sub-detail" fxFlex.xs="100">
					<div class="sec-sub-heading"><span>Affilited To Institute</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{certificate.institute.name}} </span>
					</div>
				</div>
				<div class="sub-detail" fxFlex.xs="100">
					<div class="sec-sub-heading"><span>Affilited To Institute Type</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{certificate.institute.type}} </span>
					</div>
				</div>
				<div class="sub-detail" fxFlex.xs="100">
					<div class="sec-sub-heading"><span>Recognized/Approved By</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{certificate.institute.affiliateInstitute.approvedBy}} </span>
					</div>
				</div>
			</div>
		</div>
		<div class="section"
		[fxLayout]="direction" 
		fxLayout-lt.md="column" 
		fxLayout-gt.md="row">
			<div class="heading" fxHide="true" fxShow.gt-md>
				<span class="head-span">
					Certificate Details
				</span>
			</div>
			<div class="sm-heading" fxHide="true" fxShow.lt-md fxShow.md>
				<span class="head-span2">
					Certificate Details
				</span>
			</div>
			<div class="sec-body">
				<div class="sub-detail" fxFlex.xs="100">
					<div class="sec-sub-heading"><span>Certificate ID</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{certificate.certificateId}} </span>
					</div>
				</div>
				<div class="sub-detail" fxFlex.xs="100">
					<div class="sec-sub-heading"><span>Course Name</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{course.Course_Name}} </span>
					</div>
				</div>
				<div class="sub-detail" fxFlex.xs="100">
					<div class="sec-sub-heading"><span>Course Duration</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{course.Course_Duration}} </span>
					</div>
				</div>
				<div class="sub-detail" fxFlex.xs="100">
					<div class="sec-sub-heading"><span>Duration Unit</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{course.Duration_Unit}} </span>
					</div>
				</div>
				<div class="sub-detail" fxFlex.xs="100">
					<div class="sec-sub-heading"><span>Batch Year</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{certificate.batch.start}} </span>
					</div>
				</div>
				<div class="sub-detail" fxFlex.xs="100">
					<div class="sec-sub-heading"><span>Student ID</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{certificate.studentId}} </span>
					</div>
				</div>
				<div class="sub-detail" fxFlex.xs="100">
					<div class="sec-sub-heading"><span>Specialization</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{certificate.specialization}} </span>
					</div>
				</div>
				<div class="sub-detail" fxFlex.xs="100">
					<div class="sec-sub-heading"><span>Score Earned</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{certificate.scoreEarned}} </span>
					</div>
				</div>
				<div class="sub-detail" fxFlex.xs="100">
					<div class="sec-sub-heading"><span>Total Score</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{certificate.totalScore}} </span>
					</div>
				</div>
				<div class="sub-detail" fxFlex.xs="100">
					<div class="sec-sub-heading"><span>CGPA</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{certificate.cgpa}} </span>
					</div>
				</div>
				<div class="sub-detail" fxFlex.xs="100">
					<div class="sec-sub-heading"><span>Credits Earned</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{certificate.creditsEarned}} </span>
					</div>
				</div>
				<div class="sub-detail" fxFlex.xs="100">
					<div class="sec-sub-heading"><span>Completion Date</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{certificate.completionDate | date }} </span>
					</div>
				</div>
			</div>
		</div>
		<div class="section" hidden>
			<div class="heading"> 
				<span class="head-span">
					Term Score
				</span>
			</div>
			<div class="sec-body">
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Term ID</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span>University</span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Term GPA</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span>University</span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Term Marks</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span>University</span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Pass/Fail</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span>University</span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Credits Earned</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span>University</span>
					</div>
				</div>
			</div>
		</div>
		<div class="section" hidden>
			<div class="heading"> 
				<span class="head-span">
					Marksheet
				</span>
			</div>
			<div class="sec-body">
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Student ID</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span>University</span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Exam Center</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span>University</span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Exam ID</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span>University</span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Exam Period</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span>University</span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Subject ID</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span>University</span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Assessment Type</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span>University</span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Assessment Score</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span>University</span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Assessment Pass/Fail</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span>University</span>
					</div>
				</div>
			</div>
		</div>
		<div class="section"
		[fxLayout]="direction" 
		fxLayout-lt.md="column" 
		fxLayout-gt.md="row">
			<div class="heading" fxHide="true" fxShow.gt-md>
				<span class="head-span">
					Comments
				</span>
			</div>
			<div class="sm-heading" fxHide="true" fxShow.lt-md fxShow.md>
				<span class="head-span2">
					Comments
				</span>
			</div>
			<div class="sec-body">
				<div class="sub-detail" fxFlex.xs="100">
					<div class="sec-sub-heading"><span>Comments</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span>University</span>
					</div>
				</div>
				<div class="sub-detail" fxFlex.xs="100">
					<div class="sec-sub-heading"><span>Status</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span>{{certificate.status | uppercase}}</span>
					</div>
				</div>
				<div class="sub-detail" fxFlex.xs="100">
					<div class="sec-sub-heading"><span>Data Manager Status</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span>University</span>
					</div>
				</div>
				<div class="sub-detail" fxFlex.xs="100">
					<div class="sec-sub-heading"><span>Reviewer Status</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span>{{certificate.transactionStatus}}</span>
					</div>
				</div>
				<div class="sub-detail" fxFlex.xs="100">
					<div class="sec-sub-heading"><span>Certifier Status</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span>University</span>
					</div>
				</div>
			</div>
		</div>
		<div class="action-btns text-center" *ngIf="(role == 'manager' && entity == 'institute')">
			<button mat-raised-button class="action-btn" (click)="reviewed()" fxFlex.xs="100">Hold</button>
			<button mat-raised-button class="action-btn" (click)="reviewed()" fxFlex.xs="100">Reassess</button>
			<button mat-raised-button class="action-btn" (click)="goBack()" fxFlex.xs="100">Cancel</button>
		</div>
		<div class="action-btns text-center" *ngIf="(role == 'reviewer' && entity == 'institute')">
			<button mat-raised-button class="action-btn" (click)="reviewed()" fxFlex.xs="100">Reviewed</button>
			<button mat-raised-button class="action-btn" fxFlex.xs="100">Reject</button>
		</div>
		<div class="action-btns text-center" *ngIf="(role == 'certifier' && entity == 'institute')">
			<button mat-raised-button class="action-btn" (click)="certify('certified')" fxFlex.xs="100">Certify</button>
			<button mat-raised-button class="action-btn" (click)="certify('rejected')" fxFlex.xs="100">Reject</button>
		</div>
	</div>
</div>