<div class="container">
	<div class="wrapper">
		<div class="section" 
		[fxLayout]="direction" 
		fxLayout-lt.md="column" 
		fxLayout-gt.md="row">
			<div class="heading" fxHide="true" fxShow.gt-md>
				<span class="head-span">
					Institute Details
				</span>
			</div>
			<div class="sm-heading" fxHide="true" fxShow.lt-md fxShow.md>
				<span class="head-span2">
					Institute Details
				</span>
			</div>
			<div class="sec-body">
				<div class="sub-detail" fxFlex.xs="100">
					<div class="sec-sub-heading"><span>Institute Type </span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{certificate.institute.type}} </span>
					</div>
				</div>
				<div class="sub-detail" fxFlex.xs="100">
					<div class="sec-sub-heading"><span>Institute ID</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{certificate.institute.code}} </span>
					</div>
				</div>
				<div class="sub-detail" fxFlex.xs="100">
					<div class="sec-sub-heading"><span>Institute Name</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{certificate.institute.name}} </span>
					</div>
				</div>
				<div class="sub-detail" fxFlex.xs="100" >
					<div class="sec-sub-heading"><span>Location</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{certificate.institute.location}} </span>
					</div>
				</div>
				<div class="sub-detail" fxFlex.xs="100">
					<div class="sec-sub-heading"><span>Website</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{certificate.institute.website}} </span>
					</div>
				</div>
				<div class="sub-detail" fxFlex.xs="100">
					<div class="sec-sub-heading"><span>Affilited To Institute</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{certificate.institute.affiliateInstitute.name}} </span>
					</div>
				</div>
				<div class="sub-detail" fxFlex.xs="100">
					<div class="sec-sub-heading"><span>Affilited To Institute Type</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{certificate.institute.affiliateInstitute.type}} </span>
					</div>
				</div>
				<div class="sub-detail" fxFlex.xs="100">
					<div class="sec-sub-heading"><span>Recognized/Approved By</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{certificate.institute.affiliateInstitute.approvedBy}} </span>
					</div>
				</div>
			</div>
		</div>
		<div class="section"
		[fxLayout]="direction" 
		fxLayout-lt.md="column" 
		fxLayout-gt.md="row">
			<div class="heading" fxHide="true" fxShow.gt-md>
				<span class="head-span">
					Certificate Details
				</span>
			</div>
			<div class="sm-heading" fxHide="true" fxShow.lt-md fxShow.md>
				<span class="head-span2">
					Certificate Details
				</span>
			</div>
			<div class="sec-body">
				<div class="sub-detail" fxFlex.xs="100">
					<div class="sec-sub-heading"><span>Course Name</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{certificate.course.name}} </span>
					</div>
				</div>
				<div class="sub-detail" fxFlex.xs="100">
					<div class="sec-sub-heading"><span>Course Duration</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{certificate.course.duration}} </span>
					</div>
				</div>
				<div class="sub-detail" fxFlex.xs="100">
					<div class="sec-sub-heading"><span>Duration Unit</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{certificate.course.durationUnit}} </span>
					</div>
				</div>
				<div class="sub-detail" fxFlex.xs="100">
					<div class="sec-sub-heading"><span>Batch Year</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{certificate.batch.start}} </span>
					</div>
				</div>
				<div class="sub-detail" fxFlex.xs="100">
					<div class="sec-sub-heading"><span>Student ID</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{certificate.studentId}} </span>
					</div>
				</div>
				<div class="sub-detail" fxFlex.xs="100">
					<div class="sec-sub-heading"><span>Specialization</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{certificate.specialization}} </span>
					</div>
				</div>
				<div class="sub-detail" fxFlex.xs="100">
					<div class="sec-sub-heading"><span>Score Earned</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{certificate.scoreEarned}} </span>
					</div>
				</div>
				<div class="sub-detail" fxFlex.xs="100">
					<div class="sec-sub-heading"><span>Total Score</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{certificate.totalScore}} </span>
					</div>
				</div>
				<div class="sub-detail" fxFlex.xs="100">
					<div class="sec-sub-heading"><span>CGPA</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{certificate.cgpa}} </span>
					</div>
				</div>
				<div class="sub-detail" fxFlex.xs="100">
					<div class="sec-sub-heading"><span>Credits Earned</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{certificate.creditsEarned}} </span>
					</div>
				</div>
				<div class="sub-detail" fxFlex.xs="100">
					<div class="sec-sub-heading"><span>Completion Date</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{certificate.completionDate | date }} </span>
					</div>
				</div>
			</div>
		</div>
		<div class="section" hidden>
			<div class="heading"> 
				<span class="head-span">
					Term Score
				</span>
			</div>
			<div class="sec-body">
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Term ID</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span>University</span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Term GPA</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span>University</span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Term Marks</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span>University</span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Pass/Fail</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span>University</span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Credits Earned</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span>University</span>
					</div>
				</div>
			</div>
		</div>
		<div class="section" hidden>
			<div class="heading"> 
				<span class="head-span">
					Marksheet
				</span>
			</div>
			<div class="sec-body">
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Student ID</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span>University</span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Exam Center</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span>University</span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Exam ID</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span>University</span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Exam Period</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span>University</span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Subject ID</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span>University</span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Assessment Type</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span>University</span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Assessment Score</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span>University</span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Assessment Pass/Fail</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span>University</span>
					</div>
				</div>
			</div>
		</div>
		<div class="section"
		[fxLayout]="direction" 
		fxLayout-lt.md="column" 
		fxLayout-gt.md="row">
			<div class="heading" fxHide="true" fxShow.gt-md>
				<span class="head-span">
					Comments
				</span>
			</div>
			<div class="sm-heading" fxHide="true" fxShow.lt-md fxShow.md>
				<span class="head-span2">
					Comments
				</span>
			</div>
			<div class="sec-body">
				<div class="sub-detail" fxFlex.xs="100" *ngFor="let comment of certificate.comments; let i = index;">
					<div class="comment-sub-heading"><span>{{i + 1}}</span></div>
					<div class="colon"> : </div>
					<div class="comment-value">
						<span>{{comment.text}}</span>
						<span> By - {{comment.user.firstName}} {{comment.user.lastName}}</span>
					</div>
				</div>
			</div>
			<div class="sec-body" *ngIf="entity == 'institute' && (role == 'reviewer' || role == 'certifier')">
				<div class="sub-detail" fxFlex.xs="100">
					<div class="sec-sub-heading"><span>Add Comment</span></div>
					<div class="colon"> : </div>
					<div class="comment-value">
						<mat-form-field class="full-width">
							<textarea matInput placeholder="Add a comment" [(ngModel)]="comment">
							</textarea>
						</mat-form-field>
					</div>
					<div class="comment-add">
						<fa name="plus-circle" matPrefix class="fa-icon" (click)="addComment()"></fa>
					</div>
				</div>
				
			</div>
		</div>
		<div class="action-btns text-center" hidden *ngIf="(role == 'manager' && entity == 'institute')">
			<button mat-raised-button class="action-btn" (click)="reviewed()" fxFlex.xs="100">Hold</button>
			<button mat-raised-button class="action-btn" (click)="reviewed()" fxFlex.xs="100">Reassess</button>
			<button mat-raised-button class="action-btn" (click)="goBack()" fxFlex.xs="100">Cancel</button>
		</div>
		<div class="action-btns text-center" *ngIf="(role == 'reviewer' && entity == 'institute')">
			<button mat-raised-button class="action-btn" (click)="reviewed('reviewed')" fxFlex.xs="100">Reviewed</button>
			<button mat-raised-button class="action-btn" (click)="reviewed('rejected')" fxFlex.xs="100">Reject</button>
		</div>
		<div class="action-btns text-center" *ngIf="(role == 'certifier' && entity == 'institute')">
			<button mat-raised-button class="action-btn" (click)="certify('certified')" fxFlex.xs="100">Certify</button>
			<button mat-raised-button class="action-btn" (click)="certify('rejected')" fxFlex.xs="100">Reject</button>
		</div>
	</div>
</div>