<div class="container">
	<div class="wrapper">
		<div class="section" >
			<div class="heading">
				<span class="head-span">
					Institute Details
				</span>
			</div>
			<div class="sec-body">
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Institute Type </span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{institute.instituteType}} </span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Institute ID</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{institute.instituteId}} </span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Institute Name</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{institute.instituteName}} </span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Location</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{institute.location}} </span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Website</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{institute.website}} </span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Affilited To Institute</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{institute.affiliatedTo}} </span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Affilited To Institute Type</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{institute.affiliatedInstituteType}} </span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Recognized/Approved By</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{institute.recognizedBy}} </span>
					</div>
				</div>
			</div>
		</div>
		<div class="section" >
			<div class="heading"> 
				<span class="head-span">
						Certificate Details
				</span>
			</div>
			<div class="sec-body">
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Certificate ID</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{certificate.certificateID}} </span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Course Name</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{certificate.certificateID}} </span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Course Duration</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{certificate.certificateID}} </span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Duration Unit</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{certificate.certificateID}} </span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Batch Year</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{certificate.certificateID}} </span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Student ID</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{certificate.studentID}} </span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Specialization</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{certificate.Specialization}} </span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Score Earned</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{certificate.scoreEarned}} </span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Total Score</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{certificate.totalScore}} </span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>CGPA</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{certificate.CGPA}} </span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Credits Earned</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{certificate.creditsEarned}} </span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Completion Date</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span> {{certificate.completionDate}} </span>
					</div>
				</div>
			</div>
		</div>
		<div class="section" hidden>
			<div class="heading"> 
				<span class="head-span">
					Term Score
				</span>
			</div>
			<div class="sec-body">
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Term ID</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span>University</span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Term GPA</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span>University</span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Term Marks</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span>University</span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Pass/Fail</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span>University</span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Credits Earned</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span>University</span>
					</div>
				</div>
			</div>
		</div>
		<div class="section" hidden>
			<div class="heading"> 
				<span class="head-span">
					Marksheet
				</span>
			</div>
			<div class="sec-body">
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Student ID</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span>University</span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Exam Center</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span>University</span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Exam ID</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span>University</span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Exam Period</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span>University</span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Subject ID</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span>University</span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Assessment Type</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span>University</span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Assessment Score</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span>University</span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Assessment Pass/Fail</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span>University</span>
					</div>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="heading"> 
				<span class="head-span">
					Comments
				</span>
			</div>
			<div class="sec-body">
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Comments</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span>University</span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Data Manager Status</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span>University</span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Reviewer Status</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span>University</span>
					</div>
				</div>
				<div class="sub-detail">
					<div class="sec-sub-heading"><span>Certifier Status</span></div>
					<div class="colon"> : </div>
					<div class="sub-value">
						<span>University</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>