<div class="container">
	<div class="panel panel-primary heading-wrapper">
		<div class="panel panel-heading">
			<span class="panel-title" id="heading"> Edit Institute Course Data </span>
		</div>
	</div>
	<div class="form-wrapper">
		<div class="example-container" linear>
			<form [formGroup]="insCourseForm" #courseEditForm="ngForm" (ngSubmit)="editCourse(courseEditForm)">
				<div>
					<div id="courseDiv">
						<span id="courseSpan">
							Course Details
						</span>
					</div>
					<mat-form-field class="input-field">
						<input matInput placeholder="Department ID" formControlName="departmentId" required>
					</mat-form-field>
					<mat-form-field class="input-field">
						<mat-select placeholder="Course Type" formControlName="courseType" required>
							<mat-option value="school"> School Board </mat-option>
							<mat-option value="graduation"> Graduation Degree </mat-option>
							<mat-option value="Master"> Master Degree </mat-option>
							<mat-option value="doctorate"> Doctorate </mat-option>
							<mat-option value="diploma"> Diploma </mat-option>
							<mat-option value="certificateProgram"> Certificate Program </mat-option>
						</mat-select>
					</mat-form-field>
					<mat-form-field class="input-field">
						<input matInput placeholder="Course ID" formControlName="code" required>
					</mat-form-field>
					<mat-form-field class="input-field">
						<input matInput placeholder="Course Name" formControlName="courseName" required>
					</mat-form-field>
					<mat-form-field class="input-field">
						<input matInput placeholder="Specialization" formControlName="specialization">
					</mat-form-field>
					<mat-form-field class="input-field">
						<input matInput placeholder="Certificate Generate" formControlName="certificateGenerate">
					</mat-form-field>
					<mat-form-field class="input-field">
						<mat-select placeholder="Certificate Print" formControlName="certificatePrint" required>
							<mat-option value="yes">Yes</mat-option>
							<mat-option value="no">No</mat-option>
						</mat-select>
					</mat-form-field>
					<mat-form-field class="input-field">
						<mat-select placeholder="GPA Calculated" formControlName="gpaCalculated" required>
							<mat-option value="yes">Yes</mat-option>
							<mat-option value="no">No</mat-option>
						</mat-select>
					</mat-form-field>
					<mat-form-field class="input-field">
						<mat-select placeholder="Subject Credits" formControlName="subjectCredits" required>
							<mat-option value="yes">Yes</mat-option>
							<mat-option value="no">No</mat-option>
						</mat-select>
					</mat-form-field>
					<mat-form-field class="input-field">
						<input matInput placeholder="Course Duration" formControlName="courseDuration" required>
					</mat-form-field>
					<mat-form-field class="input-field">
						<mat-select placeholder="Duration Unit" formControlName="durationUnit" required>
							<mat-option value="month">Month</mat-option>
							<mat-option value="year">Year</mat-option>
						</mat-select>
					</mat-form-field>
					<mat-form-field class="input-field">
						<input matInput placeholder="Term Type" formControlName="termType">
					</mat-form-field>
					<mat-form-field class="input-field">
						<input matInput placeholder="No. of Terms" formControlName="noOfTerms">
					</mat-form-field>
					<div class="action-btns text-center">
						<button mat-raised-button class="action-btn">Update</button>
						<button mat-raised-button class="action-btn" (click)=goBack()>Cancel</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>