<div class="container">
	<div class="panel panel-primary heading-wrapper">
		<div class="panel panel-heading">
			<span class="panel-title" id="heading"> Edit Institute Course Data </span>
		</div>
	</div>
	<div class="form-wrapper">
		<div class="example-container" linear>
			<form [formGroup]="insCourseForm" #courseEditForm="ngForm" (ngSubmit)="editCourse(courseEditForm)">
				<div>
					<div id="courseDiv">
						<span id="courseSpan">
							Course Details
						</span>
					</div>
					<!-- <mat-form-field class="input-field">
						<input matInput placeholder="Department" formControlName="departmentId" required>
					</mat-form-field> -->
					<mat-form-field class="input-field">
						<input matInput placeholder="Course ID" formControlName="code" required>
					</mat-form-field>
					<mat-form-field class="input-field">
						<mat-select placeholder="Course Type" formControlName="type" required>
							<mat-option value="School Board"> School Board </mat-option>
							<mat-option value="Graduation Degree"> Graduation Degree </mat-option>
							<mat-option value="Masters Degree"> Master Degree </mat-option>
							<mat-option value="Doctorate"> Doctorate </mat-option>
							<mat-option value="Diploma"> Diploma </mat-option>
							<mat-option value="Certification Program"> Certificate Program </mat-option>
						</mat-select>
					</mat-form-field>
					<mat-form-field class="input-field">
						<input matInput placeholder="Course Name" formControlName="name" required>
					</mat-form-field>
					<mat-form-field class="input-field">
						<input matInput placeholder="Specialization" formControlName="specialization">
					</mat-form-field>
					<mat-form-field class="input-field">
						<mat-select formControlName="certificateGenerate" placeholder="Certificate Generate" required>
							<mat-option value="Auto"> Auto </mat-option>
							<mat-option value="Manual"> Manual </mat-option>
						</mat-select>					
					</mat-form-field>
					<mat-form-field class="input-field">
						<mat-select placeholder="Certificate Print" formControlName="certificatePrint" required>
							<mat-option value="true">Yes</mat-option>
							<mat-option value="false">No</mat-option>
						</mat-select>
					</mat-form-field>
					<mat-form-field class="input-field">
						<mat-select placeholder="GPA Calculated" formControlName="gpaCalculated" required>
							<mat-option value="true">Yes</mat-option>
							<mat-option value="false">No</mat-option>
						</mat-select>
					</mat-form-field>
					<mat-form-field class="input-field">
						<mat-select placeholder="Subject Credits" formControlName="subjectCredits" required>
							<mat-option value="Equal">Equal</mat-option>
							<mat-option value="Defined">Defined</mat-option>
						</mat-select>
					</mat-form-field>
					<mat-form-field class="input-field">
						<input matInput placeholder="Course Duration" formControlName="duration" required>
					</mat-form-field>
					<mat-form-field class="input-field">
						<mat-select placeholder="Duration Unit" formControlName="durationUnit" required>
							<mat-option value="Month">Month</mat-option>
							<mat-option value="Year">Year</mat-option>
						</mat-select>
					</mat-form-field>
					<mat-form-field class="input-field">
						<input matInput placeholder="Term Type" formControlName="termType">
					</mat-form-field>
					<mat-form-field class="input-field">
						<input matInput placeholder="No. of Terms" formControlName="noOfTerms">
					</mat-form-field>
					<div class="action-btns text-center">
						<button mat-raised-button class="action-btn">Update</button>
						<button mat-raised-button class="action-btn" (click)=goBack()>Cancel</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>