<div class="container">
	<div class="form-header">
		<span><strong>Institute Registration Details</strong></span>
	</div>
	<div class="form-wrapper">
		<form 
		class="border border-light p-5" 
		(ngSubmit)="updateInstituteDetails(f)" 
		#f="ngForm">

			<div class="d-flex row-mr form-group">
				<div class="details-head"><strong>Institution Type:</strong></div>
				<div class='details-text'>
					<!-- <span>{{instituteData.type}}</span> -->
					<input class="detail-input form-control form-control-sm" type="text" [(ngModel)]="instituteData.type" name="instituteData.type">
				</div>
			</div>
			<div class="d-flex row-mr">
				<div class="details-head"><strong>Institution Id:</strong></div>
				<div class='details-text'>
					<!-- <span>{{instituteData.id}}</span> -->
					<input class="detail-input form-control form-control-sm" type="text" [(ngModel)]="instituteData.id" name="instituteData.id">
				</div>
			</div>
			<div class="d-flex row-mr">
				<div class="details-head"><strong>Institution Name:</strong></div>
				<div class='details-text'>
					<!-- <span>{{instituteData.name}}</span> -->
					<input class="detail-input form-control form-control-sm" type="text" [(ngModel)]="instituteData.name" name="instituteData.name">
				</div>
			</div>
			<div class="d-flex row-mr">
				<div class="details-head"><strong>Institution Requester:</strong></div>
				<div class='details-text'>
					<!-- <span>{{instituteData.requester}}</span> -->
					<input class="detail-input form-control form-control-sm" type="text" [(ngModel)]="instituteData.requester" name="instituteData.requester">
				</div>
			</div>
			<div class="d-flex row-mr">
				<div class="details-head"><strong>Institution KYC Agent:</strong></div>
				<div class='details-text'>
					<!-- <span>{{instituteData.kycAgent}}</span> -->
					<input class="detail-input form-control form-control-sm" type="text" [(ngModel)]="instituteData.kycAgent" name="instituteData.kycAgent">
				</div>
			</div>
			<div class="d-flex row-mr">
				<div class="details-head"><strong>Institution Status:</strong></div>
				<div class='details-text'>
					<!-- <span>{{instituteData.status}}</span> -->
					<input class="detail-input form-control form-control-sm" type="text" [(ngModel)]="instituteData.status" name="instituteData.status">
				</div>
			</div>

			<div class="row btn-row">
				<button class="btn btn-success btn-sm save-btn">Save</button>
			</div>
		</form>		
	</div>
</div>