.container {
    padding: 62px 60px;;
}

.form-header {
    padding-bottom: 30px;
    font-size: 20px;
}

.form-wrapper {
    min-width: 390px;
    min-height: 600px;
    border: 1px solid #BFBFBF;
    box-shadow: 5px 9px 15px #bfb9b9;
}

.details-head {
    width:200px;
}

.details-text {
    margin-left: 10px;
}

.detail-input {
    padding-left: 8px !important;
    width: 365px; 
    min-width: 200px;
}

.row-mr {
    margin: 8px 0;
    height: 51px;
}

.btn-row {
    margin: 8px 0;
}

.save-btn {
    width: 80px;
    height: 35px;
    border-radius: 18px;
}