<div class="container">
    <div class="panel panel-primary headeing">
        <div class="panel panel-heading">
            <h3 class="panel-title">Add Institute Authorized User</h3>
        </div>
    </div>
    <div class="addInst-wrapper">
        <div class="example-container" linear>
            <form [formGroup]="affInsAuthUsrForm" #affInsUserForm="ngForm">
                <div>
                    <p class="h6 mar-top">Affiliated Institute Authorized User Details</p>
                    <mat-form-field class="input-field">
                        <input matInput 
                        placeholder="Institute ID" 
                        formControlName="instituteId"
                        required>
                        <mat-error *ngIf="hasError('instituteId', 'required')">Institute ID is required!</mat-error>
                    </mat-form-field>
                    <mat-form-field class="input-field">
                        <input matInput 
                        placeholder="Department ID"
                        formControlName="departmentId" 
                        required>
                        <mat-error *ngIf="hasError('departmentId', 'required')">Department ID is required!</mat-error>
                    </mat-form-field>
                    <mat-form-field class="input-field">
                        <input matInput 
                        placeholder="Reviewer/Approver"
                        formControlName="reviewer" 
                        required>
                        <mat-error *ngIf="hasError('reviewer', 'required')">Reviewer/Approver is required!</mat-error>
                    </mat-form-field>
                    <mat-form-field class="input-field">
                        <input matInput 
                        placeholder="Authority Title"
                        formControlName="authorityTitle" 
                        required>
                        <mat-error *ngIf="hasError('authorityTitle', 'required')">Authority Title is required!</mat-error>
                    </mat-form-field>
                    <mat-form-field class="input-field">
                        <input matInput 
                        placeholder="Name" 
                        formControlName="name"
                        required>
                        <mat-error *ngIf="hasError('name', 'required')">Name is required!</mat-error>
                    </mat-form-field>
                    <mat-form-field class="input-field">
                        <input matInput
                        type="email" 
                        placeholder="Email ID" 
                        formControlName="email"
                        required
                        email>
                        <mat-error *ngIf="hasError('email', 'required')">Email is required!</mat-error>
                        <mat-error *ngIf="hasError('email', 'email')">Please enter valid email!</mat-error>
                    </mat-form-field>
                    <mat-form-field class="input-field">
                        <input matInput 
                        placeholder="Phone" 
                        formControlName="phone"
                        required>
                        <mat-error *ngIf="hasError('phone', 'required')">Phone Number is required!</mat-error>
                    </mat-form-field>
                </div>
                <div class="action-btns">
                    <button mat-raised-button class="action-btn">Save</button>
                    <button mat-raised-button class="action-btn">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>