<div class="container">
    <table #dataTable class="display" style="width: 100%">
        <thead class="thead">
          <tr>
            <th>Institution Type</th>
            <th>Institution ID</th>
            <th>Institution Name</th>
            <th>Requester Name</th>
            <th>KYC Agent</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td>Type</td>
                <td>Inst1</td>
                <td>Name</td>
                <td>Neha</td>
                <td>Agent</td>
                <td>New</td>
                <td><button class="btn btn-error">Details</button></td>
            </tr>
            <tr>
                <td>Type</td>
                <td>Inst2</td>
                <td>Name</td>
                <td>Neha</td>
                <td>Agent</td>
                <td>New</td>
                <td><button class="btn btn-error">Details</button></td>
            </tr>
            <tr>
                <td>Type</td>
                <td>Inst3</td>
                <td>Name</td>
                <td>Neha</td>
                <td>Agent</td>
                <td>New</td>
                <td><button class="btn btn-error">Details</button></td>
            </tr>
            <tr>
                <td>Type</td>
                <td>Inst4</td>
                <td>Name</td>
                <td>Neha</td>
                <td>Agent</td>
                <td>New</td>
                <td><button class="btn btn-error">Details</button></td>
            </tr>
            <tr>
                <td>Type</td>
                <td>Inst5</td>
                <td>Name</td>
                <td>Neha</td>
                <td>Agent</td>
                <td>New</td>
                <td><button class="btn btn-error">Details</button></td>
            </tr>
        </tbody>
      </table>
</div>