<div class="container">
    <div class="affIns-container mat-elevation-z8">
        <div class="outer-div">
            <div class="inner-div">
                <mat-form-field class="">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
            </div>
            <!-- <span class="spacer"></span>
            <div class="inner-div aff-btn">
                <a mat-button class="add-btn" routerLink="/addAffInsAuthUser">Add Aff. Institute Auth User</a>
            </div> -->
            </div>
            <div>
                <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    <!-- <ng-container matColumnDef="position">
                        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
                    </ng-container> -->
                    
                    <ng-container matColumnDef="instituteType">
                        <mat-header-cell *matHeaderCellDef> Institute Type
                            <!-- <div>
                                <mat-form-field>
                                    <input matInput class="form-field" formControlName="positionFilter" placeholder="Postion Filter">
                                </mat-form-field>
                            </div>     -->
                        </mat-header-cell>
                        <mat-cell *matCellDef="let institute"> {{institute.instituteType}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="instituteId">
                        <mat-header-cell *matHeaderCellDef> Institute ID </mat-header-cell>
                        <mat-cell *matCellDef="let institute"> {{institute.instituteId}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="instituteName">
                        <mat-header-cell *matHeaderCellDef> Institute Name </mat-header-cell>
                        <mat-cell *matCellDef="let institute"> {{institute.instituteName}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="location">
                        <mat-header-cell *matHeaderCellDef> Location </mat-header-cell>
                        <mat-cell *matCellDef="let institute"> {{institute.location}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="state">
                        <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
                        <mat-cell *matCellDef="let institute"> {{institute.state}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="kycStatus">
                        <mat-header-cell *matHeaderCellDef> Request Status </mat-header-cell>
                        <mat-cell *matCellDef="let institute"> {{institute.kycStatus}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="kycAgentId">
                        <mat-header-cell *matHeaderCellDef> kyc Agent </mat-header-cell>
                        <mat-cell *matCellDef="let institute"> {{institute.kycAgentId}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="academicHeadName">
                        <mat-header-cell *matHeaderCellDef> Requester Name </mat-header-cell>
                        <mat-cell *matCellDef="let institute"> {{institute.academicHeadName}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="_id">
                        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <!-- <button md-raised-button (click)="approveInstitute(row.instituteId)">Approve</button>
                            <button md-raised-button (click)="actions(row.instituteId)">Approve</button> -->

                            <mat-icon class="approve" (click)="actions(row.instituteId,approve)">check_circle</mat-icon>
                            <mat-icon class="reject" (click)="actions(row.instituteId,reject)">highlight_off</mat-icon>
                            <mat-icon class="hold" (click)="actions(row.instituteId,hold)">warning</mat-icon>
                            <mat-icon class="update" >edit</mat-icon>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div> 
        <div>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>  
    </div>
</div> 
    
 