<div class="container">
    <div class="create-id-wrapper">
        <form class="text-center border border-light p-5" (ngSubmit)="createId(f)" #f="ngForm">
			<p class="h4 mb-4">Login</p>
      
			<input 
			type="email" 
			id="createIdEmail" 
			class="form-control mb-4" 
			placeholder="Login ID"
			ngModel
			name="email">
			<input 
			type="password" 
			id="createIdPassword" 
			class="form-control mb-4" 
			ngModel
			placeholder="New Password"
			name="password"
			>
			<input 
			type="password" 
			id="createIdConfirmPassword" 
			class="form-control mb-4" 
			ngModel
			placeholder="Confirm Password"
			name="confirmPassword"
			>
			<button class="btn btn-info btn-block my-4" type="submit">Save</button>
          
        </form>
    </div>
</div>