.container {
    padding: 135px 375px;
}

.login-wrapper {
    width: 390px;
    height: 405px;
    border: 1px solid #BFBFBF;
    box-shadow: 5px 9px 15px #bfb9b9;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.form-material {
    display: block;
    margin-top: 0em;
}

.text-center {
    text-align: center!important;
}