<!-- <div class="container">
	<div class="login-wrapper">
		<form class="text-center border border-light p-5" (ngSubmit)="login(f)" #f="ngForm">
			<p class="h4 mb-4">Login</p>
			
			<input 
			type="email" 
			id="defaultLoginFormEmail" 
			class="form-control mb-4" 
			placeholder="Login ID"
			ngModel
			name="email">
			
			<input 
			type="password" 
			id="defaultLoginFormPassword" 
			class="form-control mb-4" 
			placeholder="Password"
			ngModel
			name="password">
			
			<div class="d-flex justify-content-around">
				<div>
					<div class="custom-control custom-checkbox">
						<input 
						type="checkbox" 
						class="custom-control-input" 
						id="defaultLoginFormRemember"
						ngModel
						name="rememberMe">
						<label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
					</div>
				</div>
				<div>
					<a routerLink="/forgotPassword">Forgot/Reset password</a>
				</div>
			</div>
			
			<button class="btn btn-info btn-block my-4" type="submit">Login</button>
			
		</form>
	</div>
</div> -->

<div class="container">
	<mat-card class="example-card">
		<mat-card-header class="text-center card-head">
			<mat-card-title>Login</mat-card-title>
		</mat-card-header>
		<mat-card-content class="card-cont">
			<form class="example-form">
				<table class="example-full-width" cellspacing="0">
					<tr>
						<td>
							<mat-form-field class="example-full-width">
							<input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
							</mat-form-field>
						</td>
					</tr>
					<tr>
						<td>
							<mat-form-field class="example-full-width">
							<input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
							</mat-form-field>
						</td>
					</tr>
				</table>
			</form>
			<mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
		</mat-card-content>
		<mat-card-actions>
			<button mat-raised-button (click)="login()" class="btn-info">Login</button>
		</mat-card-actions>
	</mat-card>
</div>
