<!-- <h1 mat-dialog-title class="text-center"> Login </h1>
<div mat-dialog-content>
		<form class="example-form" (ngSubmit)="userLogin(login)" #login="ngForm">
			<table class="example-full-width" cellspacing="0">
			<tr>
				<td>
				<mat-form-field class="example-full-width">
				<input 
					matInput 
					placeholder="Email ID" 
					[(ngModel)]="emailId" 
					name="emailId" 
					required>
				</mat-form-field>
				</td>
			</tr>
			<tr>
				<td>
				<mat-form-field class="example-full-width">
				<input matInput 
					placeholder="Password" 
					[(ngModel)]="password" 
					type="password" 
					name="password" 
					required>
				</mat-form-field>
				</td>
			</tr>
			</table>
			<mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
			<div mat-dialog-actions>
				<button mat-button type="submit">Login</button>
				<button mat-button cdkFocusInitial>Ok</button>
			</div>
		</form>
</div> -->


<div mat-dialog-title class="text-center logo-color dialog-header">
	<b> Login </b>
</div>

<mat-dialog-content [formGroup]="userLogin" #loginForm="ngForm">  
    <mat-form-field>
        <input matInput
			placeholder="Email ID"
			formControlName="emailId"
			required>
	</mat-form-field>
	
	<mat-form-field>
		<input matInput
			placeholder="Password"
			formControlName="password"
			required>
	</mat-form-field>
</mat-dialog-content>

<mat-dialog-actions class="text-center">
	<div class="action-btns">
		<button mat-raised-button class="logo-background" (click)="login(loginForm)">Login</button>
		<button mat-raised-button (click)="onNoClick()">Close</button>
	</div>
</mat-dialog-actions>