.container {
    padding: 40px 1px;
    max-width: 1225px;
}

.inner-wrapper {
    height: 550px;
    overflow: auto;
    padding: 11px 15px;
}

.inner-div {
    display: flex;
    flex-direction: column;
}

.outer-div {
    display: flex;
    flex-direction: row;
}

table {
    width: 100%;
}

.aff-btn {
    padding: 15px 2px;
}

.approve {
    color: green;
}

.reject {
    color: red;
}

.hold {
    color: #ffca00;
}

.update {
    color: #1073f3;
}

.cell-head {
    
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
} 

.mat-header-cell {
    display: block;
    padding: 12px 16px;
}

.mat-cell {
    width: 50px;
    padding: 6px 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
}

.icons {
    cursor: pointer;
}