.container {
    padding: 40px 38px;
    max-width: 1225px;
}

.inst-container {
    overflow: auto;
    padding: 12px 24px;
    box-shadow: 5px 5px 15px 6px #bfb9b9;
    border-radius: 10px;
}

mat-table {
    width: 100%;
    display: -ms-grid;
    display: grid;
}

.filter-div {
    float: right;
}

.add-btn {
    color: #333 !important;
    background-color: #e2be40;
    border-radius: 8px;
    margin-bottom: 12px;
}

.spacer {
    flex: 1 1 auto;
}

table {
    width: 100%;
}

.table-wrapper {
    height: inherit;
    overflow: auto;
}

.icons {
    cursor: pointer;
}

.table-data-content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    color: #565050;
}

.mat-header-cell {
    color: #333 !important;
}

.approve {
    color: green;
}

.reject {
    color: red;
}

.hold {
    color: #ffca00;
}

.update {
    color: #1073f3;
}

.search {
    color: #787b80;
    font-size: 14px !important;
    height: 12px !important;
}

.filters {
    width: 74% !important;
}

.mat-form-field {
    font-size: 14px;
    width: 75%;
} 

.mat-header-cell {
    display: block;
    padding: 8px 0px 0px 12px;
}

.table-data-content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    color: #565050;
}

.mat-cell {
    width: 50px;
    padding: 6px 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
}

.mat-header-cell {
    color: #333 !important;
}

.actions {
    margin-bottom: 26px;
}

.mat-row{
    height: 10px;
}