<div class="container">
    <div class="login-wrapper">
      <form class="text-center border border-light p-5" (ngSubmit)="changePassword(f)" #f="ngForm">
        <p class="h4 mb-4">Change Password</p>
        
        <!-- Email -->
        <input 
        type="password" 
        id="defaultLoginFormPassword" 
        class="form-control mb-4" 
        placeholder="Password"
        ngModel
        name="password">
        
        <!-- Password -->
        <input 
        type="password" 
        id="defaultLoginFormNewPassword" 
        class="form-control mb-4" 
        placeholder="New Password"
        ngModel
        name="newPassword">

        <!-- Confirm Password -->
        <input 
        type="password" 
        id="defaultLoginFormConformPassword" 
        class="form-control mb-4" 
        placeholder="Confirm Password"
        ngModel
        name="confirmPassword">
        
        <!-- Sign in button -->
        <button class="btn btn-info my-4" type="submit">Submit</button>
        
      </form>
    </div>
  </div>