<div class="container">
	<div class="panel panel-primary headeing">
		<div class="panel panel-heading">
			<h3 class="panel-title">Update Affiliated Institute</h3>
		</div>
	</div>
	<div class="addInst-wrapper">
		<div class="example-container" linear>
			<form [formGroup]="affInsEdit" #affInsEditForm="ngForm" >
				<div>
					<p class="h6 mar-top">Update Affiliated Institute</p>
					<mat-form-field class="input-field">
						<input matInput 
						placeholder="Institute ID" 
						formControlName="Institution_ID"
						required>
					</mat-form-field>
					<mat-form-field class="input-field">
						<input matInput 
						placeholder="Department ID" 
						formControlName="department_ID"
						required>
					</mat-form-field>
					<mat-form-field class="input-field">
						<input matInput 
						placeholder="Aff. Institute ID" 
						formControlName="AfflInstitution_ID"
						required>
					</mat-form-field>
					<mat-form-field class="input-field">
						<input matInput 
						placeholder="Aff. Institute Name" 
						formControlName="afflInstitute_Name"
						required>
					</mat-form-field>
					<mat-form-field class="input-field">
						<input matInput 
						placeholder="Aff. Institute Location" 
						formControlName="afflInstitute_loc"
						required>
					</mat-form-field>
					<mat-form-field class="input-field">
						<input matInput 
						placeholder="Aff. Institute Status" 
						formControlName="status"
						required>
					</mat-form-field>
				</div>
				<div class="action-btns text-center">
					<button mat-raised-button class="action-btn" type="submit">Update</button>
					<button mat-raised-button class="action-btn">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>