
<app-header></app-header>
<div class="container">
	<div class="affIns-container mat-elevation-z8">
		<div class="outer-div">
			<div class="inner-div">
				<mat-form-field class="">
					<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
				</mat-form-field>
			</div>
			<span class="spacer"></span>
			<div class="inner-div aff-btn">
				<a mat-button class="add-btn" routerLink="/addInsDept">Add Institute Department</a>
			</div>
		</div>
		<div>
			<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
				<ng-container matColumnDef="position">
					<mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
				</ng-container>
				
				<ng-container matColumnDef="instituteId">
					<mat-header-cell *matHeaderCellDef> Institute ID </mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.instituteId}} </mat-cell>
				</ng-container>

				<ng-container matColumnDef="instituteName">
					<mat-header-cell *matHeaderCellDef> Institute Name </mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.instituteName}} </mat-cell>
				</ng-container>
				
				<ng-container matColumnDef="deptId">
					<mat-header-cell *matHeaderCellDef> Department ID  </mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.deptId}} </mat-cell>
				</ng-container>

				<ng-container matColumnDef="deptName">
					<mat-header-cell *matHeaderCellDef> Department Name </mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.deptName}} </mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
			</mat-table>
		</div> 
		<div>
			<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
		</div>  
	</div>
</div>
