.list-container {
    /* width: 1094px; */
    height: inherit;
    overflow: auto;
}

mat-table {
    width: 100%;
    min-width: 1942px;
}

.list-header {
    display: flex;
}

.spacer {
    flex: 1 1 auto;
}

.inner-div {
    display: flex;
    flex-direction: column;
}

.aff-btn {
    padding: 15px 2px;
}

.mat-header-btns {
    padding: 1px 5px;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.add-btn {
    color: #444444;
    background-color: #E2BE40;
    margin: 2px 4px;
}

.upload-btn-wrapper input[type=file] {
	font-size: 100px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}

.clr-blue {
    color: #3666f5;
}

.icon {
    cursor: pointer;
}

ng-container{
    width: 80px;
}

.mat-header-cell {
    display: block;
    padding: 10px 10px;
}

.mat-cell {
    width: 100px !important;
    padding: 0px 9px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    min-height: 49px;
    height: 49px !important;
}

mat-column-star {
    width: 20px;
    padding-right: 8px;
}

mat-table-sticky:first-child {
    border-right: 1px solid #e0e0e0;
    padding: none;
    min-height: 50px;
}

mat-column-position, mat-column-position {
    padding-left: 8px;
}

.mat-table-sticky:first-child {
    border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:last-child {
    border-left: 1px solid #e0e0e0;
}

.mat-header-btns {
    padding: 1px 5px;
}

/* .mat-form-field-infix {
    padding: 0 !important;
    border-top-width: 0 !important;
    border-top-style: solid !important;
    width: 60px !important;
} */
.mat-form-field-infix {
    display: block !important;
    position: relative !important;
    flex: auto !important;
    min-width: 0 !important;
    width: 60px !important;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0 !important;
}

.material-icons {
    font-size: 18px !important;
    font-weight: 600;
}

.mat-row {
    height: 50px !important;
}

.mat-checkbox-background .mat-checkbox-checked.mat-accent{
    background-color: #E2BE40 !important;
}

.highlight {
    border: 1px solid red;
    height: inherit;
}