.sidebar-container {
    width: 220px;
    min-height: 636px;
    border: 1px solid rgba(0, 0, 0, 0.22);
}

.sidebar-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.innerbar-content {
    padding: 9px 10px;
}

.sidebar {
    padding: 20px;
}

.link-btn {
    color: rgb(153, 140, 140);
    text-decoration: none;
}