.sidebar-container {
    border: 1px solid rgba(0, 0, 0, 0.22);
    background-color: #38464f;
}

.sidebar-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.sidebar-img {
}

.innerbar-content {
    padding: 14px 0px;
    text-align: center;
}

.sidebar {
    padding: 20px;
}

.link-btn {
    color: #FFF;
    text-decoration: none;
}