<mat-sidenav-container class="sidebar-container">
	<mat-sidenav-content>
		<div *ngIf='userType == "KYC_AGENT"' >
			<div class="innerbar-content" routerLink="/dashboard">
				<img class="sidebar-img" src="./assets/icons/dashboard.png"/><br />
				<span class="link-btn"> Dashboard </span>
			</div>
			<mat-divider></mat-divider>
			<div class="innerbar-content" routerLink="/institutes">
				<img class="sidebar-img" src="./assets/icons/institute_w.png"/><br />
				<span class="link-btn"> Institutes </span>
			</div>
			<mat-divider></mat-divider>
		</div>
		<div *ngIf='userType == "INST_ADMIN"'>
			<div class="innerbar-content" routerLink="/dashboard">
				<img class="sidebar-img" src="./assets/icons/dashboard.png"/><br />
				<span class="link-btn"> Dashboard </span>
			</div>
			<mat-divider></mat-divider>
			<div class="innerbar-content" routerLink="/departments">
				<img class="sidebar-img" src="./assets/icons/department_w.png"/><br />
				<span class="link-btn"> Institute Departments </span>
			</div>
			<mat-divider></mat-divider>
			<div class="innerbar-content" routerLink="/affInstitutes">
				<img class="sidebar-img" src="./assets/icons/institute_w.png"/><br />
				<span class="link-btn"> Affiliated Institutes </span>
			</div>
			<mat-divider></mat-divider>
			<div class="innerbar-content" routerLink="/users">
				<img class="sidebar-img" src="./assets/icons/user_w.png"/><br />
				<span class="link-btn"> Institute Authorized Users </span>
			</div>
			<mat-divider></mat-divider>
		</div>
		<div *ngIf='userType == "INS_DATA_MANAGER"'>
			<div class="innerbar-content" routerLink="/dashboard">
				<img class="sidebar-img" src="./assets/icons/dashboard.png"/><br />
				<span class="link-btn"> Dashboard </span>
			</div>
			<mat-divider></mat-divider>
			<div class="innerbar-content" routerLink="/users">
				<img class="sidebar-img" src="./assets/icons/user_w.png"/><br />
				<span class="link-btn"> Institute Authorized Users </span>
			</div>
			<mat-divider></mat-divider>
			<div class="innerbar-content" routerLink="/courses">
				<img class="sidebar-img" src="./assets/icons/user_w.png"/><br />
				<span class="link-btn"> Courses </span>
			</div>
			<mat-divider></mat-divider>
			<div class="innerbar-content" routerLink="/certificateUploadList">
				<img class="sidebar-img" src="./assets/icons/user_w.png"/><br />
				<span class="link-btn"> Uploaded Certificates </span>
			</div>
			<mat-divider></mat-divider>
			<div class="innerbar-content" routerLink="/certificates">
				<img class="sidebar-img" src="./assets/icons/user_w.png"/><br />
				<span class="link-btn"> Certificates </span>
			</div>
			<mat-divider></mat-divider>
		</div> 
		<div *ngIf='userType == "AFF_INS_DATA_MANAGER"'>
			<div class="innerbar-content" routerLink="/dashboard">
				<img class="sidebar-img" src="./assets/icons/dashboard.png"/><br />
				<span class="link-btn"> Dashboard </span>
			</div>
			<mat-divider></mat-divider>
			<div class="innerbar-content" routerLink="/users">
				<img class="sidebar-img" src="./assets/icons/user_w.png"/><br />
				<span class="link-btn"> Authorized Users </span>
			</div>
			<mat-divider></mat-divider>
			<div class="innerbar-content" routerLink="/courses">
				<img class="sidebar-img" src="./assets/icons/batch_list_white.png"/><br />
				<span class="link-btn"> Courses </span>
			</div>
			<mat-divider></mat-divider>
			<div class="innerbar-content" routerLink="/uploadedBatches/batchUploadList">
				<img class="sidebar-img" src="./assets/icons/batch_list_white.png"/><br />
				<span class="link-btn"> Uploaded Batches </span>
			</div>
			<mat-divider></mat-divider>
			<div class="innerbar-content" routerLink="/batches/batchList">
				<img class="sidebar-img" src="./assets/icons/institute_w.png"/><br />
				<span class="link-btn"> Batches </span>
			</div>
			<mat-divider></mat-divider>
		</div>
		<div *ngIf='userType == "INST_REVIEWER"' >
			<div class="innerbar-content" routerLink="/dashboard">
				<img class="sidebar-img" src="./assets/icons/dashboard.png"/><br />
				<span class="link-btn"> Dashboard </span>
			</div>
			<mat-divider></mat-divider>
			<div class="innerbar-content" routerLink="/certificates">
				<img class="sidebar-img" src="./assets/icons/institute_w.png"/><br />
				<span class="link-btn"> Certificates </span>
			</div>
			<mat-divider></mat-divider>
		</div>
		<div *ngIf='userType == "DATA_CERTIFIER"'>
			<div class="innerbar-content" routerLink="/dashboard">
				<img class="sidebar-img" src="./assets/icons/dashboard.png"/><br />
				<span class="link-btn"> Dashboard </span>
			</div>
			<mat-divider></mat-divider>
			<div class="innerbar-content" routerLink="/certificates">
				<img class="sidebar-img" src="./assets/icons/institute_w.png"/><br />
				<span class="link-btn"> Certificates </span>
			</div>
		</div>
		<div *ngIf='userType == "DATA_APPROVER"' >
			<div class="innerbar-content" routerLink="/dashboard">
				<img class="sidebar-img" src="./assets/icons/dashboard.png"/><br />
				<span class="link-btn"> Dashboard </span>
			</div>
			<mat-divider></mat-divider>
			<div class="innerbar-content" routerLink="/batches/batchList">
				<img class="sidebar-img" src="./assets/icons/institute_w.png"/><br />
				<span class="link-btn"> Batches </span>
			</div>
			<mat-divider></mat-divider>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>