<mat-sidenav-container class="sidebar-container">
	<mat-sidenav-content>
		<div *ngIf='userType == "KYC_AGENT"'>
			<div class="innerbar-content">
				<img class="sidebar-img" src="./assets/icons/dashboard.png" alt="dashboard" /> <br />
				<a class="link-btn" id="img-dashboard" routerLink="/dashboard">Dashboard</a>
			</div>
			<mat-divider></mat-divider>
			<div class="innerbar-content">
				<img class="sidebar-img" src="./assets/icons/dashboard.png" alt="dashboard" /> <br />
				<a class="link-btn" id="img-aff" routerLink="/institutes">Institutes</a>
			</div>
			<mat-divider></mat-divider>
		</div>
		<div *ngIf='userType == "INST_ADMIN"'>
			<div class="innerbar-content">
				<img class="sidebar-img" src="./assets/icons/dashboard.png" alt="dashboard" /> <br />
				<a class="link-btn" id="img-dashboard" routerLink="/dashboard">Dashboard</a>
			</div>
			<mat-divider></mat-divider>
			<div class="innerbar-content">
				<img class="sidebar-img" src="./assets/icons/department.png" alt="Department" /> <br />
				<a class="link-btn" id="img-depart" routerLink="/departments">Institute Departments</a>
			</div>
			<mat-divider></mat-divider>
			<div class="innerbar-content">
				<img class="sidebar-img" src="./assets/icons/aff_insti.png" alt="Institute" /> <br />
				<a class="link-btn" id="img-aff" routerLink="/affInstitutes">Affiliated Institutes</a>
			</div>
			<mat-divider></mat-divider>
			<div class="innerbar-content">
				<img class="sidebar-img" src="./assets/icons/auth_user.png" alt="Users" /> <br />
				<a class="link-btn" routerLink="/users">Institutes Authorized Users</a>
			</div>
			<mat-divider></mat-divider>
		</div>
		<div *ngIf='userType == "INS_DATA_MANAGER"'>
			<div class="innerbar-content">
				<img class="sidebar-img" src="./assets/icons/dashboard.png" alt="dashboard" /> <br />
				<a class="link-btn" id="img-dashboard" routerLink="/dashboard">Dashboard</a>
			</div>
			<mat-divider></mat-divider>
			<div class="innerbar-content">
				<img class="sidebar-img" src="./assets/icons/auth_user.png" alt="Users" /> <br />
				<a class="link-btn" routerLink="/">Institute Authorized Users</a>
			</div>
			<mat-divider></mat-divider>
			<div class="innerbar-content">
				<img class="sidebar-img" src="./assets/icons/auth_user.png" alt="Users" /> <br />
				<a class="link-btn" routerLink="/courses">Course Data</a>
			</div>
			<mat-divider></mat-divider>
			<div class="innerbar-content">
				<img class="sidebar-img" src="./assets/icons/auth_user.png" alt="Users" /> <br />
				<a class="link-btn" routerLink="/certificateUploadList">Certificates Data</a>
			</div>
			<mat-divider></mat-divider>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>