/* .container {
    padding: 42px 38px;
    max-width: 1225px;
}

.user-container {
    overflow: auto;
    padding: 12px 24px;
    box-shadow: 5px 5px 15px 6px #bfb9b9;
    border-radius: 10px;
}

mat-table {
    width: 100%;
    display: -ms-grid;
    display: grid;
}

.filter-div {
    float: right;
}

.clr-blue {
    color: #3666f5;
}

.add-btn {
    color: #333 !important;
    background-color: #e2be40;
    border-radius: 8px;
    margin-bottom: 12px;
}

.spacer {
    flex: 1 1 auto;
}

table {
    width: 100%;
}

.table-wrapper {
    height: inherit;
    overflow: auto;
}

.outer-div {
    display: flex;
    flex-direction: row;
}

.inner-div {
    display: flex;
    flex-direction: column;
}

.user-btn {
    padding: 15px 2px;
}

.icons {
    cursor: pointer;
}

.table-data-content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    color: #565050;
}

.mat-header-cell {
    color: #333 !important;
}

.update {
    color: #1073f3;
}

.search {
    color: #787b80;
    font-size: 14px !important;
    height: 12px !important;
}

.filters {
    width: 74% !important;
}

.mat-form-field {
    font-size: 14px;
    width: 75%;
} 

.mat-header-cell {
    display: block;
    padding: 8px 0px 0px 12px;
}

.table-data-content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    color: #565050;
}

.mat-cell {
    width: 50px;
    padding: 6px 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
}

.mat-header-cell {
    color: #333 !important;
}

.actions {
    margin-bottom: 38px;
}

.mat-row{
    height: 10px;
}

.active-btn {
    color: #333 !important;
    background-color: #e2be40;
    border-radius: 7px;
    line-height: 0;
    height: 25px;
    width: 95px;
} */

.container {
    padding: 40px 26px;
}

.wrapper {
    width: 100%;
    padding: 12px 24px;
    box-shadow: 5px 5px 15px 6px #bfb9b9;
    border-radius: 10px;
    background-color: whitesmoke;
}

.outer-div {
    display: flex;
    flex-direction: row;
} 

.inner-div {
    display: flex;
    flex-direction: column;
}

.header-btns {
    padding: 9px 2px;
}

.mat-header-btns {
    padding: 1px 5px;
}

.add-btn {
    color: #333 !important;
    background-color: #e2be40;
    border-radius: 8px;
    margin-bottom: 12px;
    margin: 2px 4px;
}

.list-container {
    height: inherit;
    overflow-y: scroll;
}

.list-container::-webkit-scrollbar {
    height: 9px;
} 
 
.list-container::-webkit-scrollbar-track::horizontal {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.list-container::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.mat-table {
    width: 100%;
    min-width: 1200px;
}

.mat-header-cell {
    display: block;
    padding: 1px 10px;
    color: #060303!important;
}

.mat-cell {
    width: 100px !important;
    padding: 0px 9px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    min-height: 25px;
    
}

mat-column-star {
    width: 20px;
    padding-right: 8px;
}

mat-table-sticky:first-child{
    border-right: 1px solid #e0e0e0;
    padding: none;
    min-height: 50px;
}

mat-table-sticky:last-child{
    border-right: 1px solid #e0e0e0;
    padding: none;
    min-height: 50px;
}

mat-column-position, mat-column-position {
    padding-left: 8px;
}

.mat-table-sticky:first-child {
    border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:last-child {
    border-right: 1px solid #e0e0e0;
}

.mat-header-row {
    min-height: 70px;
}

.mat-row {
    min-height: 20px !important;
}

.mat-header-cell {
    border-right: 1px solid #e0e0e0;  
}

.mat-cell {
    border-right: 1px solid #e0e0e0;  
}

.search {
    color: #787b80;
    font-size: 14px !important;
    min-height: 12px !important;
}

.search-input {
    display: inline;
}

.matInput {
    margin-left: 20px;
}

.fa-icon {
    margin-right: 8px;
}

/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: rgba(245, 194, 9, 0.66) !important;
}

/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #e2be40 !important;
}

.mat-row:nth-child(even) {
    background-color: #dcdcdcab;
}

.mat-header-row, .mat-row, .mat-footer-row {
    border-bottom-width: 0; 
}

.mat-paginator {
    font-size: 11px;
}

.mat-paginator-container {
    min-height: 48px;
    display: flex;
}