<div class="container">
	<div class="wrapper">
		<div class="outer-div">
			<div class="inner-div header-btns">
				<div class="mat-header-btns">
					<a mat-button class="add-btn" routerLink="/userAdd">Add User</a>
				</div>
			</div>
		</div>
		<div class="list-container">
			<mat-table [dataSource]="dataSource" 
			class="mat-table-item mat-elevation-z8">
				<ng-container matColumnDef="userType">
					<mat-header-cell *matHeaderCellDef> 
						<div>User Role</div>
						<div>
							<mat-form-field class="search-input">
								<input matInput class="form-field filters" [formControl]="roleFilter">
								<fa name="search" matPrefix class="fa-icon"></fa>
							</mat-form-field>
						</div>
					</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.reference.role | uppercase}} </mat-cell>
				</ng-container>
				<ng-container matColumnDef="instituteId">
					<mat-header-cell *matHeaderCellDef> 
						<div>Institute ID</div>
						<div>
							<mat-form-field class="search-input">
								<input matInput class="form-field filters" [formControl]="instituteIdFilter">
								<fa name="search" matPrefix class="fa-icon"></fa>
							</mat-form-field>
						</div>
					</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.reference.instituteId}} </mat-cell>
				</ng-container>
				<ng-container matColumnDef="departmentId">
					<mat-header-cell *matHeaderCellDef>
						<div>Department ID</div>
						<div>
							<mat-form-field class="search-input">
								<input matInput class="form-field filters" [formControl]="deptIdFilter">
								<fa name="search" matPrefix class="fa-icon"></fa>
							</mat-form-field>
						</div>
					</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.department.code}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="affInstituteId">
					<mat-header-cell *matHeaderCellDef>
						<div>Affl. Inst Id</div>
						<div>
							<mat-form-field class="search-input">
								<input matInput class="form-field filters" [formControl]="affInstIdFilter">
								<fa name="search" matPrefix class="fa-icon"></fa>
							</mat-form-field>
						</div>
					</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.affiliate.code}} </mat-cell>
				</ng-container>
				<ng-container matColumnDef="username">
					<mat-header-cell *matHeaderCellDef>
						<div>User Name</div>
						<div>
							<mat-form-field class="search-input">
								<input matInput class="form-field filters" [formControl]="nameFilter">
								<fa name="search" matPrefix class="fa-icon"></fa>
							</mat-form-field>
						</div>
					</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="emailId">
					<mat-header-cell *matHeaderCellDef>
						<div> Email ID </div>
						<div>
							<mat-form-field class="search-input">
								<input matInput class="form-field filters" [formControl]="emailFilter">
								<fa name="search" matPrefix class="fa-icon"></fa>
							</mat-form-field>
						</div>
					</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
				</ng-container>
				<ng-container matColumnDef="phone">
					<mat-header-cell *matHeaderCellDef>
						<div> Phone No. </div>
						<div>
							<mat-form-field class="search-input">
								<input matInput class="form-field filters" [formControl]="phoneFilter">
								<fa name="search" matPrefix class="fa-icon"></fa>
							</mat-form-field>
						</div>
					</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.phoneNumber}} </mat-cell>
				</ng-container>
				<ng-container matColumnDef="status">
					<mat-header-cell *matHeaderCellDef>
						<div> Status </div>
						<div>
							<mat-form-field class="search-input">
								<input matInput class="form-field filters" [formControl]="statusFilter">
								<fa name="search" matPrefix class="fa-icon"></fa>
							</mat-form-field>
						</div>
					</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
				</ng-container>
				<ng-container matColumnDef="_id">
					<mat-header-cell *matHeaderCellDef> 
						<div>Actions </div>
					</mat-header-cell>
					<mat-cell *matCellDef="let row">
						<mat-slide-toggle class="toggle" 
						[checked]="row.activated=='true'" 
						(change)="activate(row)"></mat-slide-toggle>
					</mat-cell>
				</ng-container>
				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
			</mat-table>
		</div>
		<div>
			<mat-paginator [pageSizeOptions]="[5,10]" showFirstLastButtons></mat-paginator>
		</div>
	</div>
</div>

