<div class="container">
	<div class="user-container mat-elevation-z8">
		<div class="outer-div">
			<div class="inner-div user-btn">
				<a mat-button class="add-btn" routerLink="/userAdd">Add User</a>
			</div>
		</div>
		<div>
			<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
				<ng-container matColumnDef="userType">
					<mat-header-cell *matHeaderCellDef>
						<div> User Type </div>
						<mat-form-field>
							<mat-icon class="search icons">search</mat-icon><input matInput class="form-field filters">
						</mat-form-field>
					</mat-header-cell>
					<mat-cell *matCellDef="let element"> 
						<div class="table-data-content">
							{{element.UserType}} 
						</div>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="instituteId">
					<mat-header-cell *matHeaderCellDef>
						<div> Institute ID </div>
						<mat-form-field>
							<mat-icon class="search icons">search</mat-icon><input matInput class="form-field filters">
						</mat-form-field>
					</mat-header-cell>
					<mat-cell *matCellDef="let element"> 
						<div class="table-data-content">
							{{element.instituteID}} 
						</div>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="departmentId">
					<mat-header-cell *matHeaderCellDef>
						<div> Department ID </div>
						<mat-form-field>
							<mat-icon class="search icons">search</mat-icon><input matInput class="form-field filters">
						</mat-form-field>
					</mat-header-cell>
					<mat-cell *matCellDef="let element"> 
						<div class="table-data-content">
							{{element.Department_ID}} 
						</div>
						</mat-cell>
				</ng-container>

				<ng-container matColumnDef="affInstituteId">
					<mat-header-cell *matHeaderCellDef>
						<div> Affl. Institute ID </div>
						<mat-form-field>
							<mat-icon class="search icons">search</mat-icon><input matInput class="form-field filters">
						</mat-form-field>
					</mat-header-cell>
					<mat-cell *matCellDef="let element"> 
						<div class="table-data-content">
							{{element.AfflInstituteID}} 
						</div>
						</mat-cell>
				</ng-container>

				<ng-container matColumnDef="username">
					<mat-header-cell *matHeaderCellDef>
						<div> User Name </div>
						<mat-form-field>
							<mat-icon class="search icons">search</mat-icon><input matInput class="form-field filters">
						</mat-form-field>
					</mat-header-cell>
					<mat-cell *matCellDef="let element"> 
						<div class="table-data-content">
							{{element.UserName}} 
						</div>
						</mat-cell>
				</ng-container>

				<ng-container matColumnDef="emailId">
					<mat-header-cell *matHeaderCellDef>
						<div> Email ID </div>
						<mat-form-field>
							<mat-icon class="search icons">search</mat-icon><input matInput class="form-field filters">
						</mat-form-field>
					</mat-header-cell>
					<mat-cell *matCellDef="let element"> 
						<div class="table-data-content">
							{{element.EmailId}} 
						</div>
						</mat-cell>
				</ng-container>

				<ng-container matColumnDef="phone">
					<mat-header-cell *matHeaderCellDef>
						<div> Phone </div>
						<mat-form-field>
							<mat-icon class="search icons">search</mat-icon><input matInput class="form-field filters">
						</mat-form-field>
					</mat-header-cell>
					<mat-cell *matCellDef="let element"> 
						<div class="table-data-content">
							{{element.PhoneNumber}} 
						</div>
						</mat-cell>
				</ng-container>

				<ng-container matColumnDef="_id">
					<mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
					<mat-cell *matCellDef="let row"> 
						<mat-icon class="update icons" (click)="editCourse(row)">edit</mat-icon>
					</mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
			</mat-table>
		</div>
		<div>
			<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
		</div>
	</div>
</div>