<div class="container">
	<div class="certupload-container mat-elevation-z8">
		<div class="outer-div">
			<div class="inner-div">
				<mat-form-field class="">
					<input matInput (keyup)="applyfilter($event.target.value)" placeholder="Filter">
				</mat-form-field>
			</div>
			<span class="spacer"></span>
			<div class="inner-div aff-btn">
				<div class="mat-header-btns">
					<a mat-button class="add-btn" (click)="processData()">Process</a>
					<a mat-button class="add-btn" routerLink="/certificateUpload">Upload certificate</a>
				</div>
					<!-- <label for="singleFile">Upload file</label>
					<input id="singleFile" type="file" [fileUploadInputFor]= "fileUploadQueue"/>
					<br>
					<mat-file-upload-queue #fileUploadQueue
						[fileAlias]="'file'"
						[httpUrl]="'http://localhost:8180/jax-rs-jersey-application-sample'">
					
						<mat-file-upload [file]="file" [id]="i" *ngFor="let file of fileUploadQueue.files; let i = index"></mat-file-upload>
					</mat-file-upload-queue> -->
				<!-- <mat-form-field class="">
					<input matInput id="fileToUpload" type="file" [(ngModel)]="uploadCerticate">
				</mat-form-field> -->
			</div>
		</div>
		<div>
			<mat-table [dataSource]="dataSource" class="mat-table-item mat-elevation-z8">
				<ng-container matColumnDef="instituteId">
					<mat-header-cell *matHeaderCellDef> Institute ID</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.instituteID}} </mat-cell>
				</ng-container>
				<ng-container matColumnDef="affiliatedInstituteId">
					<mat-header-cell *matHeaderCellDef> Affiliated Institute ID</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.afflInstituteID}} </mat-cell>
				</ng-container>
				<ng-container matColumnDef="courseId">
					<mat-header-cell *matHeaderCellDef> Course ID</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.courseID}} </mat-cell>
				</ng-container>
				<ng-container matColumnDef="batchId">
					<mat-header-cell *matHeaderCellDef> Batch ID</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.batchID}} </mat-cell>
				</ng-container>
				<ng-container matColumnDef="studentId">
					<mat-header-cell *matHeaderCellDef> Student ID</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.studentID}} </mat-cell>
				</ng-container>
				<ng-container matColumnDef="certificateId">
					<mat-header-cell *matHeaderCellDef> Certificate ID</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.certificateID}} </mat-cell>
				</ng-container>
				<ng-container matColumnDef="specialization">
					<mat-header-cell *matHeaderCellDef> Specialization</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.Specialization}} </mat-cell>
				</ng-container>
				<ng-container matColumnDef="scoreEarned">
					<mat-header-cell *matHeaderCellDef> Score Earned</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.scoreEarned}} </mat-cell>
				</ng-container>
				<ng-container matColumnDef="totalScore">
					<mat-header-cell *matHeaderCellDef> Total Score</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.totalScore}} </mat-cell>
				</ng-container>
				<ng-container matColumnDef="cgpa">
					<mat-header-cell *matHeaderCellDef> CGPA</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.CGPA}} </mat-cell>
				</ng-container>
				<ng-container matColumnDef="creditsEarned">
					<mat-header-cell *matHeaderCellDef> creditsEarned</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.creditsEarned}} </mat-cell>
				</ng-container>
				<ng-container matColumnDef="completionDate">
					<mat-header-cell *matHeaderCellDef> Completion Date</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.completionDate}} </mat-cell>
				</ng-container>
				<ng-container matColumnDef="transactionStatus">
					<mat-header-cell *matHeaderCellDef> Transaction Status</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.transactionStatus}} </mat-cell>
				</ng-container>
				<ng-container matColumnDef="failureReason">
					<mat-header-cell *matHeaderCellDef> Failure Reason</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.failureReason}} </mat-cell>
				</ng-container>
				<ng-container matColumnDef="transactionMachine">
					<mat-header-cell *matHeaderCellDef> Transaction Machine</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.transactionMachine}} </mat-cell>
				</ng-container>
				<ng-container matColumnDef="transactionDate">
					<mat-header-cell *matHeaderCellDef> Transaction Date</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.transactionDate}} </mat-cell>
				</ng-container>
				<ng-container matColumnDef="transactionTime">
					<mat-header-cell *matHeaderCellDef> Transaction Time</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.transactionTime}} </mat-cell>
				</ng-container>
				<ng-container matColumnDef="transactionUser">
					<mat-header-cell *matHeaderCellDef> Transaction User</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.transactionUser}} </mat-cell>
				</ng-container>
				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
			</mat-table>
		</div>
		<div>
			<mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
		</div>
	</div>
</div>