.container {
    padding: 40px 1px;
    overflow: auto;
}

.certupload-container {
    overflow: auto;
    padding: 12px 24px;
}

.filter-div {
    float: right;
}

.add-btn {
    color: #fff;
    background-color: darkgreen;
}

.spacer {
    flex: 1 1 auto;
}

mat-table {
    width: 100%;
    min-width: 1585px;
}

.outer-div {
    display: flex;
    flex-direction: row;
}

.inner-div {
    display: flex;
    flex-direction: column;
}

.aff-btn {
    padding: 15px 2px;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-header-cell {
    display: block;
    padding: 12px 16px;
}

.mat-cell {
    width: 50px;
    padding: 6px 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
}

.icons {
    cursor: pointer;
}

mat-column-star {
    width: 20px;
    padding-right: 8px;
}

mat-column-position, mat-column-position {
    padding-left: 8px;
}

.mat-table-sticky:first-child {
    border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:last-child {
    border-left: 1px solid #e0e0e0;
}