.container {
    padding: 40px 1px;
    overflow: auto;
}

.certupload-container {
    overflow: auto;
    padding: 12px 24px;
}

.filter-div {
    float: right;
}

.add-btn {
    color: #fff;
    background-color: darkgreen;
    margin: 2px 4px;
}

.spacer {
    flex: 1 1 auto;
}

mat-table {
    width: 100%;
    min-width: 1585px;
}

.outer-div {
    display: flex;
    flex-direction: row;
}

.inner-div {
    display: flex;
    flex-direction: column;
}

.aff-btn {
    padding: 15px 2px;
}

.table-wrapper {
    width: 1079px;
    height: inherit;
    overflow: auto;
}

ng-container{
    width: 80px;
}

/* .mat-form-field {
    font-size: 14px;
    width: 100%;
} */

.mat-header-cell {
    display: block;
    padding: 12px 16px;
}

.mat-cell {
    width: 100px !important;
    padding: 0px 9px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    min-height: 49px;
    height: 49px !important;
}

.icons {
    cursor: pointer;
}

mat-column-star {
    width: 20px;
    padding-right: 8px;
}

mat-table-sticky:first-child {
    border-right: 1px solid #e0e0e0;
    padding: none;
    min-height: 50px;
}

mat-column-position, mat-column-position {
    padding-left: 8px;
}

.mat-table-sticky:first-child {
    border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:last-child {
    border-left: 1px solid #e0e0e0;
}

.mat-header-btns {
    padding: 1px 5px;
}

.mat-form-field-infix {
    padding: 0 !important;
    border-top-width: 0 !important;
    border-top-style: solid !important;
    width: 0 !important;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0 !important;
}

.material-icons {
    font-size: 18px !important;
    font-weight: 600;
}

.mat-row {
    height: 50px !important;
}

.clr-blue {
    color: #3666f5;
}

.icon {
    cursor: pointer;
}

.highlight {
    background-color: red;
    height: inherit;
}