<div class="container">
    <div class="bg-info clearfix">
      <button class="btn btn-secondary float-right">Add New User</button>
    </div>
    <table #dataTable class="display" style="width: 100%">
        <thead class="thead">
          <tr>
            <th>Institue ID</th>
            <th>Institue Name</th>
            <th>Location</th>
            <th>Term Score / Certificate</th>
            <th>Data Admin</th>
            <th>Reviewer 1</th>
            <th>Approver 1</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <th>1</th>
              <th>Institue 1</th>
              <th>Pune</th>
              <th>6</th>
              <th>Data Admin1</th>
              <th>Reviewer1 1</th>
              <th>Approver1 1</th>
              <th>New</th>
              <th><button class="btn">Update</button>&nbsp;&nbsp;<button class="btn">Active</button>&nbsp;&nbsp;<button class="btn">Inactive</button></th>
          </tr>
          <tr>
              <th>2</th>
              <th>Institue 2</th>
              <th>Pune</th>
              <th>6</th>
              <th>Data Admin2</th>
              <th>Reviewer2 1</th>
              <th>Approver2 1</th>
              <th>New</th>
              <th><button class="btn">Update</button>&nbsp;&nbsp;<button class="btn">Active</button>&nbsp;&nbsp;<button class="btn">Inactive</button></th>
            </tr>
            <tr>
                <th>3</th>
                <th>Institue 3</th>
                <th>Pune</th>
                <th>6</th>
                <th>Data Admin3</th>
                <th>Reviewer3 1</th>
                <th>Approver3 1</th>
                <th>New</th>
                <th><button class="btn">Update</button>&nbsp;&nbsp;<button class="btn">Active</button>&nbsp;&nbsp;<button class="btn">Inactive</button></th>
            </tr>
            <tr>
                <th>4</th>
                <th>Institue 4</th>
                <th>Pune</th>
                <th>6</th>
                <th>Data Admin4</th>
                <th>Reviewer4 1</th>
                <th>Approver4 1</th>
                <th>New</th>
                <th><button class="btn">Update</button>&nbsp;&nbsp;<button class="btn">Active</button>&nbsp;&nbsp;<button class="btn">Inactive</button></th>
            </tr>
            <tr>
                <th>5</th>
                <th>Institue 5</th>
                <th>Pune</th>
                <th>6</th>
                <th>Data Admin5</th>
                <th>Reviewer5 1</th>
                <th>Approver5 1</th>
                <th>New</th>
                <th><button class="btn">Update</button>&nbsp;&nbsp;<button class="btn">Active</button>&nbsp;&nbsp;<button class="btn">Inactive</button></th>
            </tr>
            <tr>
                <th>6</th>
                <th>Institue 1</th>
                <th>Pune</th>
                <th>6</th>
                <th>Data Admin6</th>
                <th>Reviewer6 1</th>
                <th>Approver6 1</th>
                <th>New</th>
                <th><button class="btn">Update</button>&nbsp;&nbsp;<button class="btn">Active</button>&nbsp;&nbsp;<button class="btn">Inactive</button></th>
            </tr>
            <tr>
                <th>7</th>
                <th>Institue 7</th>
                <th>Pune</th>
                <th>6</th>
                <th>Data Admin7</th>
                <th>Reviewer7 1</th>
                <th>Approver7 1</th>
                <th>New</th>
                <th><button class="btn">Update</button>&nbsp;&nbsp;<button class="btn">Active</button>&nbsp;&nbsp;<button class="btn">Inactive</button></th>
            </tr>
            <tr>
                <th>8</th>
                <th>Institue 8</th>
                <th>Pune</th>
                <th>6</th>
                <th>Data Admin8</th>
                <th>Reviewer8 1</th>
                <th>Approver8 1</th>
                <th>New</th>
                <th><button class="btn">Update</button>&nbsp;&nbsp;<button class="btn">Active</button>&nbsp;&nbsp;<button class="btn">Inactive</button></th>
            </tr>
            <tr>
                <th>9</th>
                <th>Institue 9</th>
                <th>Pune</th>
                <th>6</th>
                <th>Data Admin9</th>
                <th>Reviewer9 1</th>
                <th>Approver9 1</th>
                <th>New</th>
                <th><button class="btn">Update</button>&nbsp;&nbsp;<button class="btn">Active</button>&nbsp;&nbsp;<button class="btn">Inactive</button></th>
            </tr>
            <tr>
                <th>10</th>
                <th>Institue 10</th>
                <th>Pune</th>
                <th>6</th>
                <th>Data Admin10</th>
                <th>Reviewer10 1</th>
                <th>Approver10 1</th>
                <th>New</th>
                <th><button class="btn">Update</button>&nbsp;&nbsp;<button class="btn">Active</button>&nbsp;&nbsp;<button class="btn">Inactive</button></th>
            </tr>
            <tr>
                <th>11</th>
                <th>Institue 11</th>
                <th>Pune</th>
                <th>6</th>
                <th>Data Admin11</th>
                <th>Reviewer11 1</th>
                <th>Approver11 1</th>
                <th>New</th>
                <th><button class="btn">Update</button>&nbsp;&nbsp;<button class="btn">Active</button>&nbsp;&nbsp;<button class="btn">Inactive</button></th>
            </tr>
        </tbody>
      </table>
</div>