<div class="container">
	<div class="panel panel-primary heading-wrapper">
		<div class="panel panel-heading">
			<span class="panel-title" id="heading"> Add Institute Course Data </span>
		</div>
	</div>
	<div class="form-wrapper">
		<div class="example-container" linear>
			<form [formGroup]="affInsCourseForm" #courseForm="ngForm" (ngSubmit)="addCourse(courseForm)">
				<div>
					<div id="courseDiv">
						<span id="courseSpan">
							Course Details
						</span>
					</div>
					<div fxLayout="row wrap" 
						fxLayoutGap="23px" 
						fxLayout.lt-md="column" 
						fxFlexAlign="center">
						<mat-form-field fxFlex.gt-md="31%" fxFlex.lt-md="100%" fxFlex.md="40%">
							<input matInput placeholder="Institute ID" formControlName="instituteID" required>
						</mat-form-field>
						<mat-form-field fxFlex.gt-md="31%" fxFlex.lt-md="100%" fxFlex.md="40%">
							<input matInput placeholder="Department ID" formControlName="department_ID" required>
						</mat-form-field>
						<mat-form-field fxFlex.gt-md="31%" fxFlex.lt-md="100%" fxFlex.md="40%">
							<mat-select formControlName="Course_Type" placeholder="Course Type" required>
								<mat-option value="school"> School Board </mat-option>
								<mat-option value="graduation"> Graduation Degree </mat-option>
								<mat-option value="Master"> Master Degree </mat-option>
								<mat-option value="doctorate"> Doctorate </mat-option>
								<mat-option value="diploma"> Diploma </mat-option>
								<mat-option value="certificateProgram"> Certificate Program </mat-option>
							</mat-select>
						</mat-form-field>
						<mat-form-field fxFlex.gt-md="31%" fxFlex.lt-md="100%" fxFlex.md="40%">
							<input matInput placeholder="Course ID" formControlName="Course_ID" required>
						</mat-form-field>
						<mat-form-field fxFlex.gt-md="31%" fxFlex.lt-md="100%" fxFlex.md="40%">
							<input matInput placeholder="Course Name" formControlName="Course_Name" required>
						</mat-form-field>
						<mat-form-field fxFlex.gt-md="31%" fxFlex.lt-md="100%" fxFlex.md="40%">
							<input matInput placeholder="Specialization" formControlName="Specialization">
						</mat-form-field>
						<mat-form-field fxFlex.gt-md="31%" fxFlex.lt-md="100%" fxFlex.md="40%">
							<input matInput placeholder="Certificate Generate" formControlName="Certificate_Generate">
						</mat-form-field>
						<mat-form-field fxFlex.gt-md="31%" fxFlex.lt-md="100%" fxFlex.md="40%">
							<mat-select formControlName="Certificate_Print" placeholder="Certificate Print" required>
								<mat-option value="yes">Yes</mat-option>
								<mat-option value="no">No</mat-option>
							</mat-select>
						</mat-form-field>
						<mat-form-field fxFlex.gt-md="31%" fxFlex.lt-md="100%" fxFlex.md="40%">
							<mat-select formControlName="GPA_Calculated" placeholder="GPA Calculated" required>
								<mat-option value="yes">Yes</mat-option>
								<mat-option value="no">No</mat-option>
							</mat-select>
						</mat-form-field>
						<mat-form-field fxFlex.gt-md="31%" fxFlex.lt-md="100%" fxFlex.md="40%">
							<mat-select formControlName="Subject_Credits" placeholder="Subject Credits" required>
								<mat-option value="yes">Yes</mat-option>
								<mat-option value="no">No</mat-option>
							</mat-select>
						</mat-form-field>
						<mat-form-field fxFlex.gt-md="31%" fxFlex.lt-md="100%" fxFlex.md="40%">
							<input matInput placeholder="Course Duration" formControlName="Course_Duration" required>
						</mat-form-field>
						<mat-form-field fxFlex.gt-md="31%" fxFlex.lt-md="100%" fxFlex.md="40%">
							<mat-select formControlName="Duration_Unit" placeholder="Duration Unit" required>
								<mat-option value="month">Month</mat-option>
								<mat-option value="year">Year</mat-option>
							</mat-select>
						</mat-form-field>
						<mat-form-field fxFlex.gt-md="31%" fxFlex.lt-md="100%" fxFlex.md="40%">
							<input matInput placeholder="Term Type" formControlName="Term_Type">
						</mat-form-field>
						<mat-form-field fxFlex.gt-md="31%" fxFlex.lt-md="100%" fxFlex.md="40%">
							<input matInput placeholder="No. of Terms" formControlName="No_of_Terms">
						</mat-form-field>
					</div>
					<div class="action-btns text-center">
						<button mat-raised-button class="action-btn">Add</button>
						<button mat-raised-button class="action-btn" (click)="goBack()">Cancel</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- <div class="container">
    <div class="panel panel-primary headeing">
        <div class="panel panel-heading">
            <h3 class="panel-title">Add Affiliated Institute Course Data</h3>
        </div>
    </div>
    <div class="addInst-wrapper">
		<div class="example-container">
			<form [formGroup]="affInsCourseForm" #courseForm="ngForm" (ngSubmit)="addCourse(courseForm)">
				<div>
					<p class="h6 mar-top">Affiliated Institute Course Data</p>
					<mat-form-field class="input-field">
						<input matInput 
						placeholder="Institute ID" 
						formControlName="Institution_ID"
						required>
					</mat-form-field>
					<mat-form-field class="input-field">
						<input matInput 
						placeholder="Department ID"
						formControlName="department_ID" 
						required>
					</mat-form-field>
					<mat-form-field class="input-field">
						<mat-select formControlName="Course_Type" placeholder="Course Type" required>
						<mat-option value="school">School Board</mat-option>
						<mat-option value="graduation">Graduation Degree</mat-option>
						<mat-option value="Master">Master Degree</mat-option>
						<mat-option value="doctorate">Doctorate</mat-option>
						<mat-option value="diploma">Diploma</mat-option>
						<mat-option value="certificateProgram">Certificate Program</mat-option>
						</mat-select>
					</mat-form-field>
					<mat-form-field class="input-field">
						<input matInput 
						placeholder="Course ID" 
						formControlName="Course_ID"
						required>
					</mat-form-field>
					<mat-form-field class="input-field">
						<input matInput
						placeholder="Course Name" 
						formControlName="Course_Name"
						required>
					</mat-form-field>
					<mat-form-field class="input-field">
						<input matInput 
						placeholder="Specialization" 
						formControlName="Specialization"
						>
					</mat-form-field>
					<mat-form-field class="input-field">
						<input matInput 
						placeholder="Certificate Generate" 
						formControlName="Certificate_Generate"
						>
					</mat-form-field>
					<mat-form-field class="input-field">
						<mat-select formControlName="Certificate_Print" placeholder="Certificate Print" required>
						<mat-option value="yes">Yes</mat-option>
						<mat-option value="no">No</mat-option>
						</mat-select>
					</mat-form-field>
					<mat-form-field class="input-field">
						<mat-select formControlName="GPA_Calculated" placeholder="GPA Calculated" required>
						<mat-option value="yes">Yes</mat-option>
						<mat-option value="no">No</mat-option>
						</mat-select>
					</mat-form-field>
					<mat-form-field class="input-field">
						<mat-select formControlName="Subject_Credits" placeholder="Subject Credits" required>
						<mat-option value="yes">Yes</mat-option>
						<mat-option value="no">No</mat-option>
						</mat-select>
					</mat-form-field>
					<mat-form-field class="input-field">
						<input matInput 
						type="number"
						placeholder="Course Duration" 
						formControlName="Course_Duration"
						required>
					</mat-form-field>
					<mat-form-field class="input-field">
						<mat-select formControlName="Duration_Unit" placeholder="Duration Unit" required>
						<mat-option value="month">Month</mat-option>
						<mat-option value="year">Year</mat-option>
						</mat-select>
					</mat-form-field>
					<mat-form-field class="input-field">
						<input matInput 
						placeholder="Term Type" 
						formControlName="Term_Type">
					</mat-form-field>
					<mat-form-field class="input-field">
						<input matInput 
						placeholder="No. of Terms" 
						formControlName="No_of_Terms">
					</mat-form-field>
				</div>
				<div class="action-btns text-center">
					<button mat-raised-button class="action-btn">Save</button>
					<button mat-raised-button class="action-btn">Cancel</button>
				</div>
			</form>
		</div>
    </div>
  </div> -->