<div class="container">
    <div class="panel panel-primary headeing">
        <div class="panel panel-heading">
            <h3 class="panel-title">Add Affliated Institute</h3>
        </div>
    </div>
    <div class="addInst-wrapper">
        <div class="example-container" linear>
            <form [formGroup]="affliatedInsForm" #insForm="ngForm">
                <div>
                    <p class="h6 mar-top">Affiliated Institute Details</p>
                    <mat-form-field class="input-field">
                        <input matInput 
                        placeholder="Institute ID" 
                        formControlName="instituteId"
                        required>
                    </mat-form-field>
                    <mat-form-field class="input-field">
                        <input matInput 
                        placeholder="Affiliated Institute ID"
                        formControlName="affInstituteId" 
                        required>
                    </mat-form-field>
                    <mat-form-field class="input-field">
                        <input matInput 
                        placeholder="Affiliated Institute Name"
                        formControlName="affInstituteName" 
                        required>
                    </mat-form-field>
                    <mat-form-field class="input-field">
                        <input matInput 
                        placeholder="Affiliated Institute Location"
                        formControlName="affInstituteLoc" 
                        required>
                    </mat-form-field>
                    <mat-form-field class="input-field">
                        <input matInput 
                        placeholder="Department ID" 
                        formControlName="departmentId"
                        required>
                    </mat-form-field>
                </div>
                <div>
                    <p class="h6">First Data Manager Details</p>
                    <mat-form-field class="input-field">
                        <input matInput 
                        placeholder="First Data Manager Name" 
                        formControlName="dm1Name"
                        required>
                    </mat-form-field>
                    <mat-form-field class="input-field">
                        <input matInput 
                        type="email"
                        placeholder="First Data Manager Email" 
                        formControlName="dm1Email"                        
                        required>
                    </mat-form-field>
                    <mat-form-field class="input-field">
                        <input matInput 
                        placeholder="First Data Manager Phone" 
                        formControlName="dm1PhnNo"                        
                        required>
                    </mat-form-field>
                </div>
                <div>
                    <p class="h6">Second Data Manager Details</p>
                    <mat-form-field class="input-field">
                        <input matInput 
                        placeholder="Second Data Manager Name" 
                        formControlName="dm2Name">
                    </mat-form-field>
                    <mat-form-field class="input-field">
                        <input matInput 
                        placeholder="Second Data Manager Email"
                        formControlName="dm2Email">
                    </mat-form-field>
                    <mat-form-field class="input-field">
                        <input matInput 
                        placeholder="Second Data Manager Phone" 
                        formControlName="dm2Phone">
                    </mat-form-field>
                </div>
                <div class="action-btns">
                    <button mat-raised-button class="action-btn">Save</button>
                    <button mat-raised-button class="action-btn">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>