<!-- <div class="container">
    <div class="addInst-wrapper">
        <form class="text-center border border-light p-5" (ngSubmit)="addInst(f)" #f="ngForm">
            <p class="h4 mb-4">Add Affliated Institute</p>
            <div class="form-row mb-4">
                <div class="col">
                    <label class="control-label float-left" for="addInstFormAffliatedInstituteId">Affliated Institute ID</label> 
                    <input type="text" id="addInstFormAffliatedInstituteId" class="form-control" ngModel name="addInstFormAffliatedInstituteId" placeholder="Enter Affliated Institute ID">
                </div>
                <div class="col">
                    <label class="control-label float-left" for="addInstFormAffliatedInstituteName">Affliated Institute Name</label> 
                    <input type="text" id="addInstFormAffliatedInstituteName" class="form-control" ngModel name="addInstFormAffliatedInstituteName" placeholder="Enter Affliated Institute Name">
                </div>
            </div>
            <div class="form-row mb-4">
                <div class="col">
                    <label class="control-label float-left" for="addInstFormLocation">Location</label> 
                    <input type="text" id="addInstFormAffliatedInstituteId" class="form-control" ngModel name="addInstFormAffliatedInstituteId" placeholder="Enter Location">
                </div>
            </div>
            <div class="form-row mb-4">
                <div class="col">
                    <label class="control-label float-left" for="addInstFormTeamScore">Team Score</label> 
                    <input type="text" id="addInstFormTeamScore" class="form-control" ngModel name="addInstFormTeamScore" placeholder="Team Score">
                </div>
                <div class="col">
                    <label class="control-label float-left" for="addInstFormCertificate">Certificate</label> 
                    <input type="text" id="addInstFormCertificate" class="form-control" ngModel name="addInstFormCertificate" placeholder="Certificate">
                </div>
            </div>
            <div class="form-row mb-4">
                <div class="col">
                    <label class="control-label float-left" for="addInstFormDataAdmin">Data Admin</label> 
                    <input type="text" id="addInstFormDataAdmin" class="form-control" ngModel name="addInstFormDataAdmin" placeholder="Data Admin">
                </div>
                <div class="col">
                    <label class="control-label float-left" for="addInstFormReviewer1">Reviewer 1</label> 
                    <select class="browser-default custom-select mb-4" id="addInstFormReviewer1" ngModel name="addInstFormReviewer1">
                        <option value="1" selected>Neha</option>
                        <option value="2">Heena</option>
                        <option value="3">Shihas</option>
                    </select>  
                </div>
            </div>
            <div class="form-row mb-4 margin-class">
                <div class="col">
                    <label class="control-label float-left" for="addInstFormReviewer2">Reviewer 2</label> 
                    <select class="browser-default custom-select mb-4" id="addInstFormReviewer2" ngModel name="addInstFormReviewer2">
                        <option value="1" selected>Neha</option>
                        <option value="2">Heena</option>
                        <option value="3">Shihas</option>
                    </select>   
                </div>
                <div class="col">
                    <label class="control-label float-left" for="addInstFormReviewer3">Reviewer 3</label> 
                    <select class="browser-default custom-select mb-4" id="addInstFormReviewer3" ngModel name="addInstFormReviewer3">
                        <option value="1" selected>Neha</option>
                        <option value="2">Heena</option>
                        <option value="3">Shihas</option>
                    </select>    
                </div>
            </div>
            <div class="form-row mb-4 margin-class">
                <div class="col">
                    <label class="control-label float-left" for="addInstFormApprover1">Approver 1</label> 
                    <select class="browser-default custom-select mb-4" id="addInstFormApprover1" ngModel name="addInstFormApprover1">
                        <option value="1" selected>Neha</option>
                        <option value="2">Heena</option>
                        <option value="3">Shihas</option>
                    </select>    
                </div>
                <div class="col">
                    <label class="control-label float-left" for="addInstFormApprover2">Approver 2</label> 
                    <select class="browser-default custom-select mb-4" id="addInstFormApprover2" ngModel name="addInstFormApprover2">
                        <option value="1" selected>Neha</option>
                        <option value="2">Heena</option>
                        <option value="3">Shihas</option>
                    </select>      
                </div>
            </div>
            <div class="form-row mb-4 margin-class">
                <div class="col">
                    <label class="control-label float-left" for="addInstFormApprover3">Approver 3</label> 
                    <select class="browser-default custom-select mb-4" id="addInstFormApprover3" ngModel name="addInstFormApprover3">
                        <option value="1" selected>Neha</option>
                        <option value="2">Heena</option>
                        <option value="3">Shihas</option>
                    </select>    
                </div>
                <div class="col">
                    <label class="control-label float-left" for="addInstFormStatus">Status</label> 
                    <select class="browser-default custom-select mb-4" id="addInstFormStatus" ngModel name="addInstFormStatus">
                        <option value="1" selected>New</option>
                    </select>       
                </div>
            </div>
            <button class="btn btn-info my-4 btn-block" type="submit">Submit</button>
        </form>
    </div>
</div> -->

<div class="container">
    <div class="panel panel-primary headeing">
        <div class="panel panel-heading">
            <h3 class="panel-title">Add Affliated Institute</h3>
        </div>
    </div>
    <div class="addInst-wrapper">
        <div class="example-container" linear>
            <form [formGroup]="affliatedInsForm" #insForm="ngForm">
                <div>
                    <p class="h6 mar-top">Affiliated Institute Details</p>
                    <mat-form-field class="input-field">
                        <input matInput 
                        placeholder="Institute ID" 
                        formControlName="instituteId"
                        required>
                    </mat-form-field>
                    <mat-form-field class="input-field">
                        <input matInput 
                        placeholder="Affiliated Institute ID"
                        formControlName="affInstituteId" 
                        required>
                    </mat-form-field>
                    <mat-form-field class="input-field">
                        <input matInput 
                        placeholder="Affiliated Institute Name"
                        formControlName="affInstituteName" 
                        required>
                    </mat-form-field>
                    <mat-form-field class="input-field">
                        <input matInput 
                        placeholder="Affiliated Institute Location"
                        formControlName="affInstituteLoc" 
                        required>
                    </mat-form-field>
                    <mat-form-field class="input-field">
                        <input matInput 
                        placeholder="Department ID" 
                        formControlName="departmentId"
                        required>
                    </mat-form-field>
                </div>
                <div>
                    <p class="h6">First Data Manager Details</p>
                    <mat-form-field class="input-field">
                        <input matInput 
                        placeholder="First Data Manager Name" 
                        formControlName="dm1Name"
                        required>
                    </mat-form-field>
                    <mat-form-field class="input-field">
                        <input matInput 
                        type="email"
                        placeholder="First Data Manager Email" 
                        formControlName="dm1Email"                        
                        required>
                    </mat-form-field>
                    <mat-form-field class="input-field">
                        <input matInput 
                        placeholder="First Data Manager Phone" 
                        formControlName="dm1PhnNo"                        
                        required>
                    </mat-form-field>
                </div>
                <div>
                    <p class="h6">Second Data Manager Details</p>
                    <mat-form-field class="input-field">
                        <input matInput 
                        placeholder="Second Data Manager Name" 
                        formControlName="dm2Name">
                    </mat-form-field>
                    <mat-form-field class="input-field">
                        <input matInput 
                        placeholder="Second Data Manager Email"
                        formControlName="dm2Email">
                    </mat-form-field>
                    <mat-form-field class="input-field">
                        <input matInput 
                        placeholder="Second Data Manager Phone" 
                        formControlName="dm2Phone">
                    </mat-form-field>
                </div>
                <div class="action-btns">
                    <button mat-raised-button class="action-btn">Save</button>
                    <button mat-raised-button class="action-btn">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>