<div class="container">
	<div class="wrapper">
		<div class="outer-div">
			<div class="inner-div header-btns" *ngIf="(role == 'manager' && entity == 'institute')">
				<a mat-button class="add-btn" hidden routerLink="/courseAdd">Add Institute Course</a>
			</div>
			<span class="spacer"></span>
			<div class="inner-div header-btns">
				<div class="mat-header-btns">
					<a mat-button class="add-btn" *ngIf="(role == 'manager' && entity == 'affiliate')" (click)="edit()"> Edit </a>
				</div>
			</div>
		</div>
		<div class="list-container">
			<mat-table [dataSource]="dataSource" 
			class="mat-table-item mat-elevation-z8">
				<ng-container matColumnDef="select" sticky>
					<mat-header-cell *matHeaderCellDef>
						<mat-checkbox (change)="$event ? masterToggle() : null"
						[checked]="selection.hasValue() && isAllSelected() == true"
						[indeterminate]="selection.hasValue() && !isAllSelected()">
						</mat-checkbox>
					</mat-header-cell>
					<mat-cell *matCellDef="let row"> 
						<mat-checkbox (click)="$event.stopPropagation()"
						(change)="$event ? selection.toggle(row) : null"
						[checked]="selection.isSelected(row) == true">
						</mat-checkbox>
					</mat-cell>
				</ng-container>
				<ng-container matColumnDef="instituteId">
					<mat-header-cell *matHeaderCellDef> 
						<div>Institute ID</div>
						<div>
							<mat-form-field class="search-input">
								<input matInput class="form-field filters" [formControl]="instituteIdFilter">
								<fa name="search" matPrefix class="fa-icon"></fa>
							</mat-form-field>
						</div>
					</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.instituteId}} </mat-cell>
				</ng-container>
				<ng-container matColumnDef="affiliateId">
					<mat-header-cell *matHeaderCellDef>
						<div>Affiliate ID</div>
						<div>
							<mat-form-field class="search-input">
								<input matInput class="form-field filters" [formControl]="affiliateIdFilter">
								<fa name="search" matPrefix class="fa-icon"></fa>
							</mat-form-field>
						</div>
					</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.affiliateId}} </mat-cell>
				</ng-container>
				<ng-container matColumnDef="courseId">
					<mat-header-cell *matHeaderCellDef>
						<div>Course ID</div>
						<div>
							<mat-form-field class="search-input">
								<input matInput class="form-field filters" [formControl]="courseIdFilter">
								<fa name="search" matPrefix class="fa-icon"></fa>
							</mat-form-field>
						</div>
					</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.courseId}} </mat-cell>
				</ng-container>
				<ng-container matColumnDef="code">
					<mat-header-cell *matHeaderCellDef>
						<div>Batch ID</div>
						<div>
							<mat-form-field class="search-input">
								<input matInput class="form-field filters" [formControl]="batchIdFilter">
								<fa name="search" matPrefix class="fa-icon"></fa>
							</mat-form-field>
						</div>
					</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.code}} </mat-cell>
				</ng-container>
				<ng-container matColumnDef="year">
					<mat-header-cell *matHeaderCellDef>
						<div>Batch Year</div>
						<div>
							<mat-form-field class="search-input">
								<input matInput class="form-field filters" [formControl]="batchYearFilter">
								<fa name="search" matPrefix class="fa-icon"></fa>
							</mat-form-field>
						</div>
					</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.year}} </mat-cell>
				</ng-container>
				<ng-container matColumnDef="start">
					<mat-header-cell *matHeaderCellDef>
						<div>Batch Start</div>
						<div>
							<mat-form-field class="search-input">
								<input matInput class="form-field filters" [formControl]="startFilter">
								<fa name="search" matPrefix class="fa-icon"></fa>
							</mat-form-field>
						</div>
					</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.specialization}} </mat-cell>
				</ng-container>
				<ng-container matColumnDef="end">
					<mat-header-cell *matHeaderCellDef>
						<div>Batch End</div>
						<div>
							<mat-form-field class="search-input">
								<input matInput class="form-field filters" [formControl]="endFilter">
								<fa name="search" matPrefix class="fa-icon"></fa>
							</mat-form-field>
						</div>
					</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.end}} </mat-cell>
				</ng-container>
				<ng-container matColumnDef="minCredits">
					<mat-header-cell *matHeaderCellDef>
						<div>Min. Credits</div>
						<div>
							<mat-form-field class="search-input">
								<input matInput class="form-field filters" [formControl]="minCreditFilter">
								<fa name="search" matPrefix class="fa-icon"></fa>
							</mat-form-field>
						</div>
					</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.minCredits}} </mat-cell>
				</ng-container>
				<ng-container matColumnDef="minCgpa">
					<mat-header-cell *matHeaderCellDef>
						<div>Min. CGPA</div>
						<div>
							<mat-form-field class="search-input">
								<input matInput class="form-field filters" [formControl]="minCgpaFilter">
								<fa name="search" matPrefix class="fa-icon"></fa>
							</mat-form-field>
						</div>
					</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.minCgpa}} </mat-cell>
				</ng-container>
				<ng-container matColumnDef="totalCgpa">
					<mat-header-cell *matHeaderCellDef>
						<div>Total CGPA</div>
						<div>
							<mat-form-field class="search-input">
								<input matInput class="form-field filters" [formControl]="totalCgpaFilter">
								<fa name="search" matPrefix class="fa-icon"></fa>
							</mat-form-field>
						</div>
					</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.totalCgpa}} </mat-cell>
				</ng-container>
				<ng-container matColumnDef="minScore">
					<mat-header-cell *matHeaderCellDef>
						<div>Min. Score</div>
						<div>
							<mat-form-field class="search-input">
								<input matInput class="form-field filters" [formControl]="minScoreFilter">
								<fa name="search" matPrefix class="fa-icon"></fa>
							</mat-form-field>
						</div>
					</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.minScore}} </mat-cell>
				</ng-container>
				<ng-container matColumnDef="totalScore">
					<mat-header-cell *matHeaderCellDef>
						<div>Total Score</div>
						<div>
							<mat-form-field class="search-input">
								<input matInput class="form-field filters" [formControl]="totalScoreFilter">
								<fa name="search" matPrefix class="fa-icon"></fa>
							</mat-form-field>
						</div>
					</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.totalScore}} </mat-cell>
				</ng-container>
				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
			</mat-table>
		</div>
		<div>
			<mat-paginator [pageSizeOptions]="[5,10]" showFirstLastButtons></mat-paginator>
		</div>
	</div>
</div>