<div class="container">
	<mat-card class="example-card">
		<mat-card-header class="text-center card-head">
			<mat-card-title>Verify OTP</mat-card-title>
		</mat-card-header>
		<mat-card-content class="card-cont">
			<form class="example-form" (ngSubmit)="verify(verifyToken)" #verifyToken="ngForm">
				<table class="example-full-width" cellspacing="0">
					<tr>
						<td>
							<mat-form-field class="example-full-width">
							<input matInput 
								placeholder="Token" 
								[(ngModel)]="token" 
								type="text" 
								name="token" 
								required>
							</mat-form-field>
						</td>
					</tr>
				</table>
				<mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
				<mat-card-actions>
					<button mat-raised-button class="btn-info" type="submit">Verify</button>
				</mat-card-actions>
			</form>
		</mat-card-content>
	</mat-card>
</div>