<div class="container">
    <div class="affIns-container mat-elevation-z8">
        <div class="outer-div">
            <div class="inner-div aff-btn">
                <a mat-button class="add-btn" routerLink="/affInstituteAdd">Add Aff. Institute</a>
            </div>
        </div>
        <div class="table-wrapper">
            <mat-table [dataSource]="dataSource" class="mat-elevation-z8">               
                <ng-container matColumnDef="instituteId">
                    <mat-header-cell *matHeaderCellDef>
                        <div> Institute ID </div>
                        <mat-form-field>
                            <mat-icon class="search icons">search</mat-icon><input matInput class="form-field filters">
                        </mat-form-field>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.Institution_ID}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="deptId">
                    <mat-header-cell *matHeaderCellDef>
                        <div> Department ID </div>
                        <mat-form-field>
                            <mat-icon class="search icons">search</mat-icon><input matInput class="form-field filters">
                        </mat-form-field>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.department_ID}} </mat-cell>
                </ng-container>
                
                <ng-container matColumnDef="affInstId">
                    <mat-header-cell *matHeaderCellDef>
                        <div> Aff. Institute ID </div>
                        <mat-form-field>
                            <mat-icon class="search icons">search</mat-icon><input matInput class="form-field filters">
                        </mat-form-field>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.AfflInstitution_ID}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="affInsLocation">
                    <mat-header-cell *matHeaderCellDef>
                        <div> Aff. Institute Location </div>
                        <mat-form-field>
                            <mat-icon class="search icons">search</mat-icon><input matInput class="form-field filters">
                        </mat-form-field>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.afflInstitute_loc}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef>
                        <div> Aff. Institute Status </div>
                        <mat-form-field>
                            <mat-icon class="search icons">search</mat-icon><input matInput class="form-field filters">
                        </mat-form-field>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element"> 
                        <mat-form-field floatLabel="never">
                            <input matInput placeholder="Status" [value]="element.status" [(ngModel)]="element.status">
                        </mat-form-field>	
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="id">
                    <mat-header-cell class="actions" *matHeaderCellDef> Actions </mat-header-cell>
                    <mat-cell *matCellDef="let row"> 
                        <mat-icon class="update icons" (click)="updateAffIns(row)">edit</mat-icon>
                    </mat-cell>
                </ng-container>
0
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div> 
        <div>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>  
    </div>
</div> 