<div class="container">
    <table #dataTable class="display" style="width: 100%">
        <thead class="thead">
          <tr>
            <th>Batch ID</th>
            <th>Term ID</th>
            <th>Student ID</th>
            <th>Exam ID</th>
            <th>Term GPA</th>
            <th>Subject ID</th>
            <th>Marks</th>
            <th>Grade</th>
            <th>Pass/Fail</th>
            <th>Credits Earned</th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <th>1</th>
              <th>1</th>
              <th>1</th>
              <th>1</th>
              <th>10</th>
              <th>1</th>
              <th>75</th>
              <th>A+</th>
              <th>Pass</th>
              <th>9</th>
          </tr>
          <tr>
              <th>2</th>
              <th>2</th>
              <th>2</th>
              <th></th>
              <th>10</th>
              <th>2</th>
              <th>75</th>
              <th>A+</th>
              <th>Pass</th>
              <th>9</th>
            </tr>
            <tr>
              <th>3</th>
              <th>3</th>
              <th>3</th>
              <th>3</th>
              <th>10</th>
              <th>3</th>
              <th>75</th>
              <th>A+</th>
              <th>Pass</th>
              <th>9</th>
            </tr>
            <tr>
              <th>4</th>
              <th>4</th>
              <th>4</th>
              <th>4</th>
              <th>10</th>
              <th>4</th>
              <th>75</th>
              <th>A+</th>
              <th>Pass</th>
              <th>9</th>
            </tr>
            <tr>
              <th>5</th>
              <th>5</th>
              <th>5</th>
              <th>5</th>
              <th>10</th>
              <th>5</th>
              <th>75</th>
              <th>A+</th>
              <th>Pass</th>
              <th>9</th>
            </tr>
            <tr>
              <th>6</th>
              <th>6</th>
              <th>6</th>
              <th>6</th>
              <th>10</th>
              <th>6</th>
              <th>75</th>
              <th>A+</th>
              <th>Pass</th>
              <th>9</th>
            </tr>
            <tr>
              <th>7</th>
              <th>7</th>
              <th>7</th>
              <th>7</th>
              <th>10</th>
              <th>7</th>
              <th>75</th>
              <th>A+</th>
              <th>Pass</th>
              <th>9</th>
            </tr>
            <tr>
              <th>8</th>
              <th>8</th>
              <th>8</th>
              <th>8</th>
              <th>10</th>
              <th>8</th>
              <th>75</th>
              <th>A+</th>
              <th>Pass</th>
              <th>9</th>
            </tr>
            <tr>
              <th>9</th>
              <th>9</th>
              <th>9</th>
              <th>9</th>
              <th>10</th>
              <th>9</th>
              <th>75</th>
              <th>A+</th>
              <th>Pass</th>
              <th>9</th>
            </tr>
            <tr>
              <th>10</th>
              <th>10</th>
              <th>10</th>
              <th>10</th>
              <th>10</th>
              <th>10</th>
              <th>75</th>
              <th>A+</th>
              <th>Pass</th>
              <th>9</th>
            </tr>
            <tr>
              <th>11</th>
              <th>11</th>
              <th>11</th>
              <th>11</th>
              <th>10</th>
              <th>11</th>
              <th>75</th>
              <th>A+</th>
              <th>Pass</th>
              <th>9</th>
            </tr>
        </tbody>
    </table>
</div>