<div class="container">
	<div class="panel panel-primary headeing" hidden>
	</div>
	<div class="">
		<div class="docs-component-category-list" *ngIf='userType == "INST_ADMIN"'>
			<mat-card class="docs-component-category-list-card mat-card">
				<img mat-card-image src="/assets/icons/department.png" alt="department">
				<mat-card-title class="mat-card-title">My Departments</mat-card-title>
				<mat-card-content class="docs-component-category-list-card-summary mat-card-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</mat-card-content>
			</mat-card>
			<mat-card class="docs-component-category-list-card mat-card">
				<img mat-card-image src="/assets/icons/institute.png" alt="department">
				<mat-card-title class="mat-card-title">Affiliated Institutes</mat-card-title>
				<mat-card-content class="docs-component-category-list-card-summary mat-card-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</mat-card-content>
			</mat-card>
			<mat-card class="docs-component-category-list-card mat-card">
				<img mat-card-image src="/assets/icons/user.png" alt="department">
				<mat-card-title class="mat-card-title">User Management</mat-card-title>
				<mat-card-content class="docs-component-category-list-card-summary mat-card-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</mat-card-content>
			</mat-card>
			<mat-card class="docs-component-category-list-card mat-card">
				<img mat-card-image src="/assets/icons/settings.png" alt="department">
				<mat-card-title class="mat-card-title">Settings</mat-card-title>
				<mat-card-content class="docs-component-category-list-card-summary mat-card-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</mat-card-content>
			</mat-card>
		</div>
		<div class="docs-component-category-list" *ngIf='userType == "INS_DATA_MANAGER"'>
			<mat-card class="docs-component-category-list-card mat-card">
				<img mat-card-image src="/assets/icons/department.png" alt="department">
				<mat-card-title class="mat-card-title">My Departments</mat-card-title>
				<mat-card-content class="docs-component-category-list-card-summary mat-card-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</mat-card-content>
			</mat-card>
			<mat-card class="docs-component-category-list-card mat-card">
				<img mat-card-image src="/assets/icons/institute.png" alt="Aff_Institute">
				<mat-card-title class="mat-card-title">Affiliated Institutes</mat-card-title>
				<mat-card-content class="docs-component-category-list-card-summary mat-card-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</mat-card-content>
			</mat-card>
			<mat-card class="docs-component-category-list-card mat-card">
				<img mat-card-image src="/assets/icons/user.png" alt="department">
				<mat-card-title class="mat-card-title">Course Data</mat-card-title>
				<mat-card-content class="docs-component-category-list-card-summary mat-card-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</mat-card-content>
			</mat-card>
			<mat-card class="docs-component-category-list-card mat-card">
				<img mat-card-image src="/assets/icons/settings.png" alt="department">
				<mat-card-title class="mat-card-title">Batch Data</mat-card-title>
				<mat-card-content class="docs-component-category-list-card-summary mat-card-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</mat-card-content>
			</mat-card>
			<mat-card class="docs-component-category-list-card mat-card">
				<img mat-card-image src="/assets/icons/settings.png" alt="department">
				<mat-card-title class="mat-card-title">Certificates Data</mat-card-title>
				<mat-card-content class="docs-component-category-list-card-summary mat-card-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</mat-card-content>
			</mat-card>
		</div>
		<div class="docs-component-category-list" *ngIf='userType == "AFF_INS_DATA_MANAGER"'>
			<mat-card class="docs-component-category-list-card mat-card">
				<img mat-card-image src="/assets/icons/department.png" alt="department">
				<mat-card-title class="mat-card-title">Aff. Institute Details</mat-card-title>
				<mat-card-content class="docs-component-category-list-card-summary mat-card-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</mat-card-content>
			</mat-card>
			<mat-card class="docs-component-category-list-card mat-card">
				<img mat-card-image src="/assets/icons/department.png" alt="department">
				<mat-card-title class="mat-card-title">My Departments</mat-card-title>
				<mat-card-content class="docs-component-category-list-card-summary mat-card-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</mat-card-content>
			</mat-card>
			<mat-card class="docs-component-category-list-card mat-card">
				<img mat-card-image src="/assets/icons/user.png" alt="department">
				<mat-card-title class="mat-card-title">Course Data</mat-card-title>
				<mat-card-content class="docs-component-category-list-card-summary mat-card-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</mat-card-content>
			</mat-card>
			<mat-card class="docs-component-category-list-card mat-card">
				<img mat-card-image src="/assets/icons/settings.png" alt="department">
				<mat-card-title class="mat-card-title">Batch Data</mat-card-title>
				<mat-card-content class="docs-component-category-list-card-summary mat-card-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</mat-card-content>
			</mat-card>
			<mat-card class="docs-component-category-list-card mat-card">
				<img mat-card-image src="/assets/icons/settings.png" alt="department">
				<mat-card-title class="mat-card-title">Marksheet Data</mat-card-title>
				<mat-card-content class="docs-component-category-list-card-summary mat-card-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</mat-card-content>
			</mat-card>
			<mat-card class="docs-component-category-list-card mat-card">
				<img mat-card-image src="/assets/icons/settings.png" alt="department">
				<mat-card-title class="mat-card-title">Certificates Data</mat-card-title>
				<mat-card-content class="docs-component-category-list-card-summary mat-card-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</mat-card-content>
			</mat-card>
		</div>
		<div class="docs-component-category-list" *ngIf='userType == "INST_REVIEWER"'>
			<mat-card class="docs-component-category-list-card mat-card">
				<img mat-card-image src="/assets/icons/department.png" alt="department">
				<mat-card-title class="mat-card-title">Aff. Institute Details</mat-card-title>
				<mat-card-content class="docs-component-category-list-card-summary mat-card-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</mat-card-content>
			</mat-card>
			<mat-card class="docs-component-category-list-card mat-card">
				<img mat-card-image src="/assets/icons/department.png" alt="department">
				<mat-card-title class="mat-card-title">My Departments</mat-card-title>
				<mat-card-content class="docs-component-category-list-card-summary mat-card-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</mat-card-content>
			</mat-card>
			<mat-card class="docs-component-category-list-card mat-card">
				<img mat-card-image src="/assets/icons/user.png" alt="department">
				<mat-card-title class="mat-card-title">Course Data</mat-card-title>
				<mat-card-content class="docs-component-category-list-card-summary mat-card-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</mat-card-content>
			</mat-card>
			<mat-card class="docs-component-category-list-card mat-card">
				<img mat-card-image src="/assets/icons/settings.png" alt="department">
				<mat-card-title class="mat-card-title">Batch Data</mat-card-title>
				<mat-card-content class="docs-component-category-list-card-summary mat-card-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</mat-card-content>
			</mat-card>
			<mat-card class="docs-component-category-list-card mat-card">
				<img mat-card-image src="/assets/icons/settings.png" alt="department">
				<mat-card-title class="mat-card-title">Marksheet Data</mat-card-title>
				<mat-card-content class="docs-component-category-list-card-summary mat-card-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</mat-card-content>
			</mat-card>
			<mat-card class="docs-component-category-list-card mat-card">
				<img mat-card-image src="/assets/icons/settings.png" alt="department">
				<mat-card-title class="mat-card-title">Certificates Data</mat-card-title>
				<mat-card-content class="docs-component-category-list-card-summary mat-card-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</mat-card-content>
			</mat-card>
		</div>
		<div class="docs-component-category-list" *ngIf='userType == "AFF_INST_REVIEWER"'>
			<mat-card class="docs-component-category-list-card mat-card">
				<img mat-card-image src="/assets/icons/department.png" alt="department">
				<mat-card-title class="mat-card-title">Aff. Institute Details</mat-card-title>
				<mat-card-content class="docs-component-category-list-card-summary mat-card-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</mat-card-content>
			</mat-card>
			<mat-card class="docs-component-category-list-card mat-card">
				<img mat-card-image src="/assets/icons/department.png" alt="department">
				<mat-card-title class="mat-card-title">My Departments</mat-card-title>
				<mat-card-content class="docs-component-category-list-card-summary mat-card-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</mat-card-content>
			</mat-card>
			<mat-card class="docs-component-category-list-card mat-card">
				<img mat-card-image src="/assets/icons/user.png" alt="department">
				<mat-card-title class="mat-card-title">Course Data</mat-card-title>
				<mat-card-content class="docs-component-category-list-card-summary mat-card-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</mat-card-content>
			</mat-card>
			<mat-card class="docs-component-category-list-card mat-card">
				<img mat-card-image src="/assets/icons/settings.png" alt="department">
				<mat-card-title class="mat-card-title">Batch Data</mat-card-title>
				<mat-card-content class="docs-component-category-list-card-summary mat-card-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</mat-card-content>
			</mat-card>
			<mat-card class="docs-component-category-list-card mat-card">
				<img mat-card-image src="/assets/icons/settings.png" alt="department">
				<mat-card-title class="mat-card-title">Marksheet Data</mat-card-title>
				<mat-card-content class="docs-component-category-list-card-summary mat-card-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</mat-card-content>
			</mat-card>
			<mat-card class="docs-component-category-list-card mat-card">
				<img mat-card-image src="/assets/icons/settings.png" alt="department">
				<mat-card-title class="mat-card-title">Certificates Data</mat-card-title>
				<mat-card-content class="docs-component-category-list-card-summary mat-card-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</mat-card-content>
			</mat-card>
		</div>
		<div class="docs-component-category-list" *ngIf='userType == "DATA_CERTIFIER"'>
			<mat-card class="docs-component-category-list-card mat-card">
				<img mat-card-image src="/assets/icons/department.png" alt="department">
				<mat-card-title class="mat-card-title">Aff. Institute Details</mat-card-title>
				<mat-card-content class="docs-component-category-list-card-summary mat-card-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</mat-card-content>
			</mat-card>
			<mat-card class="docs-component-category-list-card mat-card">
				<img mat-card-image src="/assets/icons/department.png" alt="department">
				<mat-card-title class="mat-card-title">My Departments</mat-card-title>
				<mat-card-content class="docs-component-category-list-card-summary mat-card-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</mat-card-content>
			</mat-card>
			<mat-card class="docs-component-category-list-card mat-card">
				<img mat-card-image src="/assets/icons/user.png" alt="department">
				<mat-card-title class="mat-card-title">Course Data</mat-card-title>
				<mat-card-content class="docs-component-category-list-card-summary mat-card-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</mat-card-content>
			</mat-card>
			<mat-card class="docs-component-category-list-card mat-card">
				<img mat-card-image src="/assets/icons/settings.png" alt="department">
				<mat-card-title class="mat-card-title">Batch Data</mat-card-title>
				<mat-card-content class="docs-component-category-list-card-summary mat-card-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</mat-card-content>
			</mat-card>
			<mat-card class="docs-component-category-list-card mat-card">
				<img mat-card-image src="/assets/icons/settings.png" alt="department">
				<mat-card-title class="mat-card-title">Marksheet Data</mat-card-title>
				<mat-card-content class="docs-component-category-list-card-summary mat-card-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</mat-card-content>
			</mat-card>
			<mat-card class="docs-component-category-list-card mat-card">
				<img mat-card-image src="/assets/icons/settings.png" alt="department">
				<mat-card-title class="mat-card-title">Certificates Data</mat-card-title>
				<mat-card-content class="docs-component-category-list-card-summary mat-card-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</mat-card-content>
			</mat-card>
		</div>
		<div class="docs-component-category-list" *ngIf='userType == "DATA_APPROVER"'>
			<mat-card class="docs-component-category-list-card mat-card">
				<img mat-card-image src="/assets/icons/department.png" alt="department">
				<mat-card-title class="mat-card-title">Aff. Institute Details</mat-card-title>
				<mat-card-content class="docs-component-category-list-card-summary mat-card-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</mat-card-content>
			</mat-card>
			<mat-card class="docs-component-category-list-card mat-card">
				<img mat-card-image src="/assets/icons/department.png" alt="department">
				<mat-card-title class="mat-card-title">My Departments</mat-card-title>
				<mat-card-content class="docs-component-category-list-card-summary mat-card-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</mat-card-content>
			</mat-card>
			<mat-card class="docs-component-category-list-card mat-card">
				<img mat-card-image src="/assets/icons/user.png" alt="department">
				<mat-card-title class="mat-card-title">Course Data</mat-card-title>
				<mat-card-content class="docs-component-category-list-card-summary mat-card-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</mat-card-content>
			</mat-card>
			<mat-card class="docs-component-category-list-card mat-card">
				<img mat-card-image src="/assets/icons/settings.png" alt="department">
				<mat-card-title class="mat-card-title">Batch Data</mat-card-title>
				<mat-card-content class="docs-component-category-list-card-summary mat-card-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</mat-card-content>
			</mat-card>
			<mat-card class="docs-component-category-list-card mat-card">
				<img mat-card-image src="/assets/icons/settings.png" alt="department">
				<mat-card-title class="mat-card-title">Marksheet Data</mat-card-title>
				<mat-card-content class="docs-component-category-list-card-summary mat-card-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</mat-card-content>
			</mat-card>
			<mat-card class="docs-component-category-list-card mat-card">
				<img mat-card-image src="/assets/icons/settings.png" alt="department">
				<mat-card-title class="mat-card-title">Certificates Data</mat-card-title>
				<mat-card-content class="docs-component-category-list-card-summary mat-card-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</mat-card-content>
			</mat-card>
		</div>
	</div>
</div>