<div mat-dialog-title class="text-center logo-color dialog-header">
	<p id="forg"> Forgot  </p>
	<p id="pass"> Password?</p>
</div>

<mat-dialog-content [formGroup]="forgotpassword" #forgotPasswordForm="ngForm">
	<span class="page-heading">Please enter your email ID below to receive an email for resetting your Password.</span><br />
	<div class="input-row">
		<div class="icon-wrap">
			<img src="../../assets/icons/Email.svg" alt="">
		</div>
		<div>
			<mat-form-field>
				<input matInput
					placeholder="Email ID"
					formControlName="emailId"
					required
					email>
				<mat-error *ngIf="hasError('emailId', 'required')">Email ID is required!</mat-error>
				<mat-error *ngIf="hasError('emailId', 'email')">Please enter valid email ID!</mat-error>
			</mat-form-field>
		</div>
	</div>
</mat-dialog-content>

<mat-dialog-actions class="text-center">
	<div class="action-btns">
		<button mat-raised-button style="width: 40%; border-radius: 10px;" class="logo-background" (click)="forgotPassword(forgotPasswordForm)">Submit</button>
		<button mat-raised-button style="width: 40%; border-radius: 10px;" class="logo-background" (click)="goBack()">Cancel</button>
	</div>
</mat-dialog-actions>
