mat-dialog-content {
    min-height: 245px !important;
    height: 240px;
    overflow: unset;
}

mat-dialog-actions {
    display: block !important;
    margin-top: -32%;
}

.dialog-header {
    font-size: 30px; 
    margin-top: 2%;
}

.action-btns {
    margin: 4px 0;
}

.input-row {
    display: flex;
    height: 45px;
    width: 100%;
    margin-top: 18%;
}

.icon-wrap {
    width: 34px;
    height: 28px;
    margin-top: 6%;
}

mat-form-field-infix {
    border-top: 0 !important;
}

.page-heading {
    color: #444444;
    z-index: 5;
    position: absolute;
    display: block;
    width: 22%;
    margin-top: 8px;
    font-size: 12px;
}

.logo-background {
    width: 40%;
    border-radius: 10px;
    color: #3e3b3bde;
    font-size: 20px;
}

#forg {
    font-size: 38px; 
    margin-right: 60%; 
    font-weight: 600;
}

#pass {
    font-size: 36px; 
    margin-right: 39%; 
    margin-top: -2%; 
    font-weight: 600;
}

.mat-form-field {
    width: 245px;
    height: 55px;
    font-size: 14px;
}