.sidebar-container {
	height: 100%;
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
}

.mat-sidenav {
	width: 32%;
}

.main-body {
	display: flex;
	height: 100%;
}

.page-sidebar {
    width: 17%;
    height: 100%;
}

.page-content {
    width: 83%;
    flex: 1;
    height: 100%;
}