<div class="container">
    <div class="profile-wrapper">
        <form class="text-center border border-light p-5 form-height" (ngSubmit)="profile(f)" #f="ngForm">
            <div class="panel panel-primary">
                <div class="panel panel-heading">
                    <h3 class="panel-title">Profile</h3>
                </div>
                <div class="panel-body">
                    <div id="defaultProfileFormUserType">
                        <label class="control-label float-left" for="profileFormType">User Type</label> 
                        <select class="browser-default custom-select mb-4" id="profileFormType" ngModel name="profileFormType" disabled>
                            <option value="1" selected>User Type</option>
                        </select>                          
                    </div>
                    <div>
                        <label class="control-label float-left" for="profileFormName">User Name</label> 
                        <input type="text" id="profileFormName" ngModel name="profileFormName" class="form-control mb-4" placeholder="User Name" disabled>
                    </div>                    
                    <div>
                        <label class="control-label float-left" for="profileFormInstName">Institute/Company Name</label> 
                        <input type="text" id="profileFormInstName" ngModel name="profileFormInstName" class="form-control mb-4" placeholder="Institute/Company Name" disabled>
                    </div>
                    <div>
                        <label class="control-label float-left" for="profileFormLoginId">Login ID</label> 
                        <input type="text" id="profileFormLoginId" ngModel name="profileFormLoginId" class="form-control mb-4" placeholder="Login ID" disabled>
                    </div>
                    <div>
                        <label class="control-label float-left" for="profileFormEmail">Email ID</label> 
                        <input type="text" id="profileFormEmail" ngModel name="profileFormEmail" class="form-control mb-4" placeholder="Email ID">
                    </div>
                    <div>
                        <label class="control-label float-left" for="profileFormPhone">Phone</label> 
                        <input type="text" id="profileFormPhone" ngModel name="profileFormPhone" class="form-control mb-4" placeholder="Phone">
                    </div>
                    <div>
                        <label class="control-label float-left" for="profileFormAadharNo">Aadhaar No</label> 
                        <input type="text" id="profileFormAadharNo" ngModel name="profileFormAadharNo" class="form-control mb-4" placeholder="Aadhaar No" disabled>
                    </div>
                    <button class="btn btn-info" type="submit">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>    